<html>
  <head>
    <title>New Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
    <script src="//cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="/blogs/posts/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Post title" required autofocus="on" minlength="4"/>
        <textarea id='editor' id="wysiwyg" name="content" type="text" placeholder="Post Content..." required minlength="30"></textarea>
        <input type="file" name="image" required/>
        <select id="cars" name="tag">
          <option value="Bollywood">Bollywood</option>
          <option value="Literature">Literature</option>
          <option value="Folk Dance">Folk Dance</option>
          <option value="Art">Art</option>
          <option value="Music">Music</option>
        </select>
        <input type="text" name="name" placeholder="Your name" required minlength="4"/>
        <input type="submit" value="Publish" />
      </form>
    </div>
    <script>
      CKEDITOR.replace('editor');
      </script>
  </body>
</html>
