<html>
  <head>
    <title>New Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <form action="/blogs/posts/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Post title" required autofocus="on" minlength="4"/>
        <textarea class='editor' name="content" type="text" placeholder="Post Content..." required minlength="30"></textarea>
        <input type="file" name="image" required/>
        <select id="cars" name="tag">
          <option value="Bollywood">Bollywood</option>
          <option value="Literature">Literature</option>
          <option value="Folk Dance">Folk Dance</option>
          <option value="Art">Art</option>
          <option value="Music">Music</option>
        </select>
        <input type="text" name="name" placeholder="Your name" required minlength="4"/>
        <input type="submit" value="Publish" />
      </form>
    </div>
    <script>var editor = new MediumEditor('.editable');</script>
  </body>
</html>
