<html>
  <head>
    <title>New Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
    <script src="//cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="/blogs/<%=id%>/subBlogs/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Post title"  autofocus="on" minlength="4"/>
        <textarea id='editor' id="wysiwyg" name="content" type="text" placeholder="Post Content..." required minlength="30"></textarea>
        <input type="text" name="image" placeholder="Enter Image URL"/>
        <input type="submit" value="Publish" />
      </form>
    </div>
    <script>
      CKEDITOR.replace('editor');
      </script>
  </body>
</html>
