<!DOCTYPE html>
<html lang="es">
<head>
  <title>India: sus estados y sus danzas</title>
      <meta charset="UTF-8">
  <!--Title of the Website-->
 
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
  
  <meta name="description"
    content="Explora los bailes y danzas folklóricas de la India con BailaBollywood. Los bailes folclóricos de la India son el resultado de la mezcla  de sus tradiciones y la religiosidad. Son parte tan importante de la cultura india que se han adoptados en las películas de Bollywood." />
  <meta name="robots" content="index, follow" />
  <!--Meta tag for Responsiveness-->
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  


  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Explora los bailes y danzas folklóricas de la India con BailaBollywood. Los bailes folclóricos de la India son el resultado de la mezcla  de sus tradiciones y la religiosidad. Son parte tan importante de la cultura india que se han adoptados en las películas de Bollywood.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="India: sus estados y sus danzas">

<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">


<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/danzas-folkloricas-de-India">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Explora los bailes y danzas folklóricas de la India con BailaBollywood. Los bailes folclóricos de la India son el resultado de la mezcla  de sus tradiciones y la religiosidad. Son parte tan importante de la cultura india que se han adoptados en las películas de Bollywood.">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/danzas-folkloricas-de-India">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Explora los bailes y danzas folklóricas de la India con BailaBollywood. Los bailes folclóricos de la India son el resultado de la mezcla  de sus tradiciones y la religiosidad. Son parte tan importante de la cultura india que se han adoptados en las películas de Bollywood. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">


  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />

  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
                           

                      <!--Web app manfest file for android devices
                          <link rel="manifest" href="manifest.json" />
                      <meta name="theme-color" content="#373B44" />
                          <link rel="apple-touch-icon" href="/images/baila-bollywood-icon.png" />
                          <meta name="apple-mobile-web-app-status-bar" content="#373B44" />
                          -->
                          
<style type="text/css">
.fluid-container{
  background-color: #f4f4f4;
  text-align: center;
  width: 100%;
  padding: 6px;
  font-size: 20px;
  border: 4px solid rgba(247, 183, 51, 1);
  border-radius: 15px;
  margin-top: 5px;
  font-weight: 600;
 
}

.map-container{
  margin: auto;
  margin-top:40px;
  margin-bottom: 50px;
  text-align: center;
}

.footer-center, .footer-left {
    border-right: none; }


/** css for accordion **/
.custom-accordion {margin-bottom: 50px; width: 75%;}
 
button.accordion {
  width: 100%;
  background-color: #f7b733;
  border: 1px solid #fff;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.accordion:hover, button.accordion.is-open {
    background-color: rgba(247, 183, 51, 0.75) !important;
}
 
button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
	
}
 
button.accordion.is-open:after {
  content: '\f056';
}
 
button.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}
 
.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

button.accordion.is-open {
    font-weight: 800;
}
.accordion-content p {
    font-weight: 600;
}

button.accordion {
    font-weight: 800;
}

.container-acc p {
    text-align: justify;
}

   </style>

       <script src="/scripts/spanish-to-english-translate.js"></script>
       <script src="/scripts/jquery.rwdImageMaps.min.js"></script>


</head>
<body>

    
 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  " >
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
             <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
            
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>

<div class="fluid-container">
      <p class=" map-intro-spanish" style="color: black; font-size: 20px; font-weight: bold;">
        Explore los bailes folclóricos indios a través del mapa indio, haga clic en los estados respectivos para explorar futhrer. 
        <button onclick="spanToengMapIntro()" class="spanish-to-english d-inline btn btn-save float-right mt-4">Convert to
            English</button>
      </p>
    
      <p class=" map-intro-english" style="display: none;color: black; font-size: 20px; font-weight: bold;">
       Explore the Indian folk dances through the Indian map, click on the respective states to explore futhrer.
            <button onclick="engTospaMapIntro()" class="english-to-spanish d-inline btn btn-save float-right mt-4">Convert to
            Spanish</button>
        </p>
  </div>

<div class="map-container">

<img src="/images/india-map-new.png" usemap="#image-map">

<map name="image-map">
      <area target="_blank" class="map-point" alt="Jammu and Kashmir" title="Jammu and Kashmir" href="/kashmir" coords="238,114,222,108,217,96,212,76,211,41,226,25,239,17,255,28,267,36,275,46,287,49,299,47,312,43,330,46,335,56,331,67,323,76,321,84,323,96,324,104,321,111,317,119,309,127,295,128,261,124,254,123,246,120" shape="poly">
      
    <area target="_blank" alt="Himachal Pradesh" title="Himachal Pradesh" href="/himachal-pradesh" coords="289,164,294,151,309,147,307,131,302,126,283,126,267,123,257,126,261,140,265,147,272,151,273,158,279,160" shape="poly">
    <area target="_blank" alt="Punjab" title="Punjab" href="/punjab" coords="222,137,231,131,245,131,256,140,264,149,265,159,262,165,256,170,253,181,246,184,235,181,224,176,218,173,215,166,219,152" shape="poly">
    <area target="_blank" alt="Haryana" title="Haryana" href="/haryana" coords="270,166,283,165,283,171,277,183,274,194,277,204,279,212,281,217,278,224,271,226,262,220,253,217,250,205,245,192,232,189,229,180,236,179,244,184,249,184,258,183,262,178,267,174" shape="poly">
    <area target="_blank" alt="Rajasthan" title="Rajasthan" href="/rajasthan" coords="117,239,126,244,136,250,132,263,132,273,129,281,152,288,163,293,178,297,190,305,196,319,208,326,220,322,222,310,220,299,224,290,235,289,244,292,243,303,239,313,245,314,254,307,265,306,267,296,272,285,261,281,261,266,280,252,276,238,255,229,245,219,222,195,212,183,202,177,196,193,178,209,163,223,146,221,135,218,126,225" shape="poly">
    <area target="_blank" alt="Gujrat" title="Gujrat" href="/gujrat" coords="150,366,161,368,169,357,173,346,179,351,179,365,185,379,184,387,193,382,204,379,202,369,203,360,210,344,211,330,209,323,189,311,179,302,165,295,153,293,127,292,115,297,101,301,99,307,99,315,102,320,120,323,131,323,136,326,127,339,116,342,107,343,117,358,123,364,132,372,140,372,147,372,153,371" shape="poly">
    <area target="_blank" alt="Madhya Pradesh" title="Madhya Pradesh" href="/madhya-pradesh" coords="217,342,212,357,218,356,227,364,248,370,273,370,311,368,330,370,346,367,357,357,372,343,385,321,388,305,361,296,336,293,316,292,309,282,316,269,309,250,286,253,270,275,266,271,279,283,277,297,251,312,240,313,241,298,235,292,222,294,226,306,229,312,223,326,217,334" shape="poly">
    <area target="_blank" alt="Uttrakhand" title="Uttrakhand" href="/uttrakhand" coords="295,167,295,179,301,183,315,184,320,187,332,192,340,183,347,175,340,163,325,158,322,152,316,147,303,147,290,150" shape="poly">
    <area target="_blank" alt="Uttar Pradesh" title="Uttar Pradesh" href="/uttar-pradesh" coords="285,223,287,240,297,253,317,255,319,264,316,272,315,280,323,286,333,285,339,281,350,282,352,290,366,289,375,286,385,296,396,295,403,294,406,287,409,275,419,274,419,256,416,242,397,237,379,230,364,218,343,210,334,202,317,198,304,186,294,185,290,171,280,179,275,191,275,206,284,229" shape="poly">
    <area target="_blank" alt="Bihar" title="Bihar" href="/bihar" coords="409,283,409,291,425,291,437,292,449,294,463,293,472,295,480,291,485,279,496,275,503,265,499,255,486,251,471,252,463,252,447,251,437,251,423,250,423,263,423,270,425,275,446,278" shape="poly">
    <area target="_blank" alt="Orrisa" title="Orrisa" href="/orrisa" coords="371,448,378,448,384,444,389,434,396,437,404,436,408,427,413,422,420,422,428,424,434,422,440,418,445,413,454,406,465,402,476,395,482,383,485,375,491,363,492,355,480,351,467,343,466,353,453,353,446,354,445,345,429,347,420,348,416,361,409,370,410,377,396,378,392,390,391,397,392,407,385,406,378,403,381,413,382,420,378,430,373,435" shape="poly">
    <area target="_blank" alt="Jharkhand" title="Jharkhand" href="/jharkhand" coords="411,309,416,317,419,325,425,337,435,346,440,343,447,348,453,353,461,349,461,343,473,343,471,337,463,332,457,329,464,319,479,312,493,304,501,298,505,281,489,278,484,287,480,299,467,299,458,295,445,305,433,300,419,301,410,300" shape="poly">
    <area target="_blank" alt="West Bengal" title="West Bengal" href="/west-bengal" coords="463,327,472,330,476,336,481,346,487,353,493,358,500,358,514,352,522,354,527,343,523,328,519,314,511,299,504,298,480,318,492,314,500,310" shape="poly">
    <area target="_blank" alt="Meghalaya" title="Meghalaya" href="/meghalaya" coords="542,274,550,276,561,277,573,277,581,275,587,279,587,285,595,270,589,259,583,257,573,258,565,262,550,259,543,264" shape="poly">
    <area target="_blank" alt="Assam" title="Assam" href="/assam" coords="539,250,551,238,573,241,598,235,620,226,633,212,655,204,649,215,638,224,631,234,626,243,619,253,614,260,609,269,605,281,599,288,592,292,597,273,595,260,585,253,572,253,567,259,556,259,543,259" shape="poly">
    <area target="_blank" alt="Arunachal Pradesh" title="Arunachal Pradesh" href="/arunachal-pradesh" coords="573,217,584,216,595,206,605,196,618,184,629,180,646,178,657,173,665,185,669,191,678,196,680,207,680,219,662,221,647,229,637,230,646,217,657,205,640,208,627,214,621,221,602,227,593,229,582,233" shape="poly">
    <area target="_blank" alt="Manipur" title="Manipur" href="/manipur" coords="608,287,608,277,617,271,629,263,637,266,639,276,645,275,657,267,662,269,671,277,677,285,673,295,667,301,653,319,642,319,636,314,633,306,630,299,619,298" shape="poly">
    <area target="_blank" alt="Mizoram" title="Mizoram" href="/mizoram" coords="593,306,593,314,597,326,597,334,579,336,577,351,582,362,592,365,610,361,629,361,638,360,639,354,629,342,620,328,617,321,617,311,617,302,613,296,597,292" shape="poly">
    <area target="_blank" alt="Tripura" title="Tripura" href="/tripura" coords="584,315,582,324,569,312,576,300,584,294,590,293,589,303" shape="poly">
    <area target="_blank" alt="Sikkim" title="Sikkim" href="/sikkim" coords="515,229,509,234,497,234,501,222,501,210,501,201,502,191,506,184,509,173,513,184,517,192,521,204,520,213,517,223" shape="poly">
    <area target="_blank" alt="Maharashtra" title="Maharashtra" href="/maharashtra" coords="197,486,207,492,216,484,213,476,230,468,249,460,265,449,281,441,290,425,297,407,313,408,331,408,337,417,343,422,353,417,358,413,349,403,349,388,348,378,335,370,325,368,302,370,285,373,255,375,239,375,229,368,219,361,210,360,212,375,207,384,197,389,185,389,180,401,179,414,179,426,179,437,181,455,189,470,193,479" shape="poly">
    <area target="_blank" alt="Andhra Pradesh" title="Andhra Pradesh" href="/andhra-pradesh" coords="291,409,288,424,285,429,285,443,279,452,277,468,277,475,279,484,271,498,263,506,263,520,267,527,275,537,287,540,294,548,302,553,312,557,322,554,330,550,336,543,337,535,336,522,337,509,342,499,347,492,352,496,361,487,367,480,375,477,383,472,389,465,399,456,412,446,416,441,426,429,434,420,417,424,396,436,383,443,377,446,364,448,353,440,349,432,340,426,329,421,324,409,308,411,300,403,292,400" shape="poly">
    <area target="_blank" alt="Goa" title="Goa" href="/goa" coords="202,511,205,504,206,495,193,492,187,488,180,467,173,459,148,467,144,487,114,488,81,503,77,527,85,543,118,551,151,551,182,539" shape="poly">
    <area target="_blank" alt="Karnatka" title="Karnatka" href="/karnatka" coords="213,493,210,506,211,520,217,535,222,550,224,567,235,579,250,584,263,587,276,585,290,572,298,564,303,561,286,539,274,546,266,532,278,489,277,460,280,446,251,453,218,473,236,465,215,483" shape="poly">
    <area target="_blank" alt="Kerela" title="Kerela" href="/kerela" coords="266,668,255,658,248,638,244,617,240,608,234,599,232,584,228,578,243,585,249,591,257,609,262,618,268,627,269,635,269,647,269,654" shape="poly">
    <area target="_blank" alt="Tamil Nadu" title="Tamil Nadu" href="/tamil-nadu" coords="265,600,265,613,268,620,272,628,273,639,269,657,277,670,293,662,301,648,311,646,313,627,324,622,331,615,334,596,337,574,343,558,331,552,310,558,293,564,281,579,276,591,263,592,252,588" shape="poly">
    <area target="_blank" alt="Nagaland" title="Nagaland" href="/nagaland" coords="617,268,609,264,617,256,628,248,631,240,645,237,650,237,647,250,645,258,641,263" shape="poly">
</map>

</div>


<section class="container custom-accordion">
 

    <button class="accordion">Danzas populares de Kashmir </button>
    <div class="accordion-content">
     

      <div class="container-acc" >
        <!--  Blog Title-->
        <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
          <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px;" >
              Danzas populares de  Kashmir</h1>
        
          
        </div>
          <!---- Blog Image-->
           <div class="text-center" style="margin-top:20px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/rouff-1.jpg" alt="blog-image">
          </div>
          
              <h4 style="font-weight: 1000; margin-top: 50px;">Rouf</h4>
      
          <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
          <!---  Blog Content -->
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
                Es un elegante baile originado en la comunidad musulmana de Cachemira y que es principalmente realizado por mujeres. Uno puede presenciar esta danza durante el período de Ramzan y la temporada de cosecha, al igual que en otras ocasiones alegres. El baile consiste principalmente en el juego de pies (llamado "Chakri" en el idioma local) rimado y sincronizado al ritmo de una poesía mística. Puedes buscar el musical de la canción "Bumbro" en el cual la famosa actriz de Bollywood, Priety Zinta, interpreta una hermosa versión de este baile.
            </p>
      
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
               Este es el listado de las cinco formas de danza folclórica más famosas de Rajasthan, que debes conocer:
      
            </p>
                <div class="text-center" style="margin-top:20px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/rouff-2.jpg" alt="blog-image">
          </div>
          </div>
      
        
          <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
          <!---  Blog Content -->
          <h4 style="font-weight: 1000; margin-top: 50px;">Kud</h4>
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
                 Las pintorescas montañas de Jammu y Cachemira están cubiertas por el manto de las culturas populares. La danza Kud es parte de una de esas culturas de las cordilleras medias. El baile se realiza para celebrar una cosecha exitosa y rentable, especialmente la del maíz. Es una danza ritual realizada por los habitantes locales (principalmente agricultores) en honor a los Lok Devtas (Dioses del pueblo). Es su manera de agradecer a las deidades por protegerlos a ellos, a sus familias, a sus cultivos y a su ganado.
            </p>
      
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
               El baile celebra la felicidad de las personas. Por lo tanto, cualquiera puede participar. No requiere entrenamiento profesional. Incluso los turistas pueden bailar junto a los artistas. Todos visten su mejor ropa tradicional para divertirse. La música de  grandes trompetas, tambores y flautas marca el ritmo de la celebración. En general se baila por la noche junto a una hoguera, creando así, el ambiente perfecto.
      
            </p>
           
          
          <div class="text-center" style="margin-top:15px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/kud.png" alt="blog-image">
          </div>
      
       </div>
          
          <div class="container-acc">
            
                
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Dumhal</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
               Dumhal es una danza popular de la tribu Wattal / Watal de esta región. Según sus tradiciones, solo puede ser bailado por los hombres de la tribu. Para ello visten largas túnicas coloridas, gorros cónicos y adornos de cuentas. Moviéndose en procesión, muestran su cultura a través de su actuación. Los bailarines colocan un estandarte en el suelo y danzan a su alrededor. Los hombres cantan y bailan al ritmo de los tambores. Dumhal se realiza en ocasiones auspiciosas para el clan. 
              </p> 
      
                
      
              <div class="text-center" style="margin-top:40px; margin-bottom:40px">
              <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/dumhal.png" alt="blog-image">
              </div>
                  
      
            </div>
            
          
         
      
          <div class="container-acc">
            
                
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Bhand Jashan</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
      Es uno de los bailes folclóricos, elegantes y atractivos de la región, que combina el drama. Lo interpretan entre 15 a 20 personas. Es una danza popular bastante expresiva. Narra historias tanto políticas como sociales. El tono de la actuación es satírico. Los movimientos son en su mayoría, simples y elegantes. Los artistas colocan sus manos en la cintura de las bailarinas y se mueven de manera conjunta, hacia adelante y hacia atrás. Estos pasos son al ritmo de música ligera, por lo tanto no requiere el uso de instrumentos musicales pesados.
              </p>   
                 <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              Las mujeres se visten con sus coloridos y tradicionales pheran kurta y salwar. Cubren sus cabezas con una bufanda adornada con joyas étnicas de Cachemira. Los hombres, por su parte, usan kurta, pijama y un sombrero colorido. También llevan pañuelos especiales llamados Rumal en sus manos. Bhand literalmente quiere decir payaso y Jashan, celebración. Por lo tanto, este baile también es conocido como festival de payasos.        
            </p>   
      
          <div class="text-center" style="margin-top:40px; margin-bottom:40px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/rouff-3.jpg" alt="blog-image">
          </div>
              
            </div>
      
            
      
      <div class="container-acc">
      
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Hafiza</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
      Hafiza es un baile común de Cachemira, practicado en ocasiones festivas,  como el matrimonio, el parto, la cosecha entre otras. Además, forma parte del Sufiana Kalam (música devocional de los místicos musulmanes, o sea los sufis). Lo danzan bailarines entrenados, tanto durante la ceremonia de Henna de la novia (la aplicación de Henna en las manos y los pies es parte de las costumbres antes de la boda), así como en la procesión del novio. La actuación es acompañada  de un instrumento musical llamado Santoor, (dulcimer martillado) que tiene casi 100 cuerdas y es tocado con la ayuda de palos.
              </p> 
      
          <div class="text-center" style="margin-top:40px; margin-bottom:40px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/rouff-4.png" alt="blog-image">
          </div>
              
            </div>
              
      
        </div>


    </div>
 
 



    <button class="accordion">Danzas populares de Punjab</button>
    <div class="accordion-content">
      
      <div class="container-acc" >
        <!--  Blog Title-->
        <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
          <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px;" >
              Danzas populares de  Punjab</h1>
        
          
        </div>
          <!---- Blog Image-->
           <div class="text-center" style="margin-top:20px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/bhangra-1.jpg" alt="blog-image">
          </div>
          
          <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
          <!---  Blog Content -->
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
          La tierra de los cinco ríos, el Punjab, tiene una de las culturas más ricas del mundo. La mayoría de las celebraciones sociales indias están incompletas sin un baile  del folclore de esta región. Tanto la música como la danza de esta región son utilizadas en películas, y para animar  bodas, fiestas, discotecas y festividades.  </p>
      
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
      Las canciones Punjabi son cantadas por personas de todas las religiones y en varios estados de la India. La mayoría  conoce algunos movimientos básicos de baile que se han convertido en sinónimos de la danza punjabi.Tal es la fama que se ha ganado, que el estilo Punjabi define un estado de ánimo y se ha convertido en la  esencia  de Bollywood.
            </p>
            
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
      Aunque existen muchos bailes folclóricos en el Punjab, hablaremos sobre los tres que son más populares, no solo en la India sino también a nivel internacional.
           </p>
                
          </div>
      
        
          <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
          <!---  Blog Content -->
          <h4 style="font-weight: 1000; margin-top: 50px;">Bhangra</h4>
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
                 El rey de los bailes populares en la India, es el Bhangra,  uno de los más enérgicos y divertidos. Esto se da tanto con la danza como con la música. Juntos tienen el  poder para que puedas crear tu divertida versión del baile en poco tiempo. 
            </p>
      
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
               Es tanta la popularidad de este baile, que cualquier celebración india está incompleta sin una actuación de Bhangra. Hoy, la mayoría de las películas de Bollywood incluye entre sus musicales una canción Punjabi acompañada de un por una coreografía de Bhangra. Rara vez se da el caso en el que un número popular del Punjab no tenga éxito si es parte de una película. Cada vez más se comprueba que toca los sentimientos de la audiencia de manera correcta.
      
            </p>
           
          
          <div class="text-center" style="margin-top:15px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/bhangra-2.jpg" alt="blog-image">
          </div>
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
               Sin embargo, tradicionalmente este baile era realizado durante el  Vaisakhi o Baisakhi, festival de la cosecha celebrado por la gente del Punjab. Es un hecho conocido que la agricultura es parte importante de las actividades económicas de  la India. Por lo tanto, una cosecha rentable y abundante asegura el sustento de muchos agricultores. Vaisakhi es el día en que los agricultores y sus familias agradecen las cosechas exitosas. También marca el comienzo del Año Nuevo Punjabi.
      
               Este baile es conocido por su energía altamente contagiosa. Implica muchos movimientos simples y pegadizos, así como también movimientos complejos y hábiles. Saltar, ponerse en cuclillas y aplaudir son parte del Bhangra. Todos los pasos son acompañados con el ritmo de Dhol (un tipo de tambor), Alghoza (un par de instrumentos de viento hechos de madera), Chimpta (pinzas con pequeños cascabeles de latón) y Tumbi (instrumento de cuerda única) y con las canciones populares tradicionales.
      
      
            </p>
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
               Pero lo que hace más atractivo a este bailes, son los vestidos vibrantes y coloridos de los bailarines. Un atuendo típico para hombres incluye Lungi  o  Chadar (prenda inferior), Kurta (una camisa larga) con un chaleco y un turbante llamado Turla o Torla (con forma de abanico). Las mujeres, por otro lado, usan Patiala o Sharrara, así como Kurti o Ghagra-Choli. En cualquier caso, la Dupatta (estola) tiene un borde dorado que completa el aspecto.
      
              La actuación grupal del Bhangra es exuberante, tiene gracia, velocidad y lo más importante, diversión.
      
      
            </p>
           
      
       </div>
          
          <div class="container-acc">
            
                
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Giddha</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              Un baile totalmente femenino, tan enérgico como el Bhangra. También podría ser considerado como su contraparte femenina. Es realizado en distintas ocasiones sociales o festivas.  
              </p> 
      
              <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              Esta danza caracterizada por la vivacidad, simboliza el poder de las mujeres. Giddha es un baile de gran ritmo y juego de pies. Los pasos son tan rápidos que los espectadores no tienen tiempo ni para parpadear. 
              </p> 
      
              <div class="text-center" style="margin-top:40px; margin-bottom:40px">
              <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/giddha.png" alt="blog-image">
              </div>
                  
              <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              La mayoría de las bailarinas forman un círculo y se mueven al ritmo del Dhol. Una de ellas recita letras que las demás repiten, mientras aplauden de manera rítmica. No hay ninguna regla que se deba cumplir. Las artistas tienen la libertad de ser creativas e innovar estos recitales cíclicos.
              Los temas abordados durante la actuación pueden ser muy variados, van desde la vida cotidiana de una mujer en la aldea hasta los asuntos políticos. 
              </p> 
      
              <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              El atractivo de este baile se ve reforzado con los trajes coloridos y extravagantes. Son los mismos que usan en el  Bhangra. Al igual que la mayoría de las danzas del Punjab, también esta es para disfrutar y hacer disfrutar a la audiencia.
              </p> 
                
      
              
      
            </div>
            
          
         
      
          <div class="container-acc">
            
                
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Jhumar</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
      Es una danza folclórica masculina en la cual, tres generaciones de una familia bailan  juntas: padre, hijo y nieto. Actuar en cualquier ocasión alegre para expresar felicidad es de lo que se trata este baile. Ya sea en una feria, una boda, un evento social o en cualquier otra celebración, el Jhumar es imprescindible. Existen pocas variaciones de este estilo de baile y cada una difiere en algo de la otra. Aunque el vestuario es mayormente similar al utilizado en el  Bhangra.        </p>   
                 <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              Finalmente, remarco  que es un baile bien intenso, como la mayoría de los bailes Punjabi ya  que está lleno de entusiasmo.       
            </p>   
      
          <div class="text-center" style="margin-top:40px; margin-bottom:40px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/jhumar.png" alt="blog-image">
          </div>
              
            </div>
      
            
      
        </div>
      


    </div>



 
 
    <button class="accordion">Danzas populares de Rajasthan</button>
    <div class="accordion-content">
     

      <div class="container-acc" >
        <!--  Blog Title-->
        <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
          <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px;" >
              Danzas populares de  Rajasthan</h1>
        
          
        </div>
          <!---- Blog Image-->
           <div class="text-center" style="margin-top:20px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/ghoomar-1.png" alt="blog-image">
          </div>
        
          <div class="container-acc" style="margin-top:30px; margin-bottom:15px" >
          <!---  Blog Content -->
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
                 Rajasthan es el estado del desierto de la India, es la tierra de reyes, reinas,  palacios y mucho más. Pero lo más importante,  es una tierra poseedora de una rica cultura. Su vasta historia puede verse reflejada en su  variado folklore. Todas sus manifestaciones culturales son únicas. La esencia del lugar está en sus costumbres y tradiciones. La gastronomía, la música y la danza, son piezas clave de la cultura rajasthani. No es solo un patrimonio que preservar, sino que es parte de la  identidad misma de sus habitantes. Es justamente su cultura, la que lo convierte en uno de los estados turísticos más queridos de la India.  
            </p>
      
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
               Este es el listado de las cinco formas de danza folclórica más famosas de Rajasthan, que debes conocer:
      
            </p>
          </div>
      
        
          <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
          <!---  Blog Content -->
          <h4 style="font-weight: 1000; margin-top: 50px;"> Rajasthani Ghoomar</h4>
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
                 Entre los muchos bailes folclóricos tradicionales de Rajasthan, Ghoomar es el más famoso. Ha sido bien acogido por otras comunidades del estado, aunque  su origen se encuentra en la tribu Bhil. Tradicionalmente esta danza era realizada para adorar a la Diosa Saraswati; sin embargo, actualmente se la baila en casi cualquier festividad como forma de celebración.
            </p>
      
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
                El nombre Ghoomar  deriva de la palabra Ghoomna que  literalmente significa  girar. Es interesante saber que es, precisamente esto, lo que define a esta danza. Una  bailarina tiene que realizar varios giros durante todo el baile, lo que lo convierte en una de las danzas más complejas que hayan sido vistas.
      
            </p>
            <p class="target" style="word-wrap:break-word; font-size: 18px;">
              Una buena actuación de Ghoomar deja maravillada a las personas que lo presencian. El ímpetu de todos y cada uno de los movimientos, se ve reforzado por la riqueza de los trajes tradicionales. El giro conjunto de las bailarinas crea una imagen de caleidoscopio de colores. Según la tradición esta danza es el símbolo de la femineidad, por lo tanto es realizado solo por niñas y mujeres. La vestimenta que acompaña a este baile está compuesta por el  Ghagra-Choli. Ghagra es una falda larga, circular y con mucho vuelo, decorada con cristales, espejos y bordado de hilos pesados, mientras que el Choli es una blusa pequeña, una especie de top sumamente adornado. Este atuendo se acompaña con una dupatta (estola), que se utiliza como un velo con el que se cubre la cabeza.Se completa el atuendo con joyería típica de piedras preciosa y láminas de oro o plata.
      
            </p>
          
          <div class="text-center" style="margin-top:15px; margin-bottom:15px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/ghoomar-2.jpg" alt="blog-image">
          </div>
      
           <p class="target" style="word-wrap:break-word; font-size: 18px;">
              Una buena actuación de Ghoomar deja maravillada a las personas que lo presencian. El ímpetu de todos y cada uno de los movimientos, se ve reforzado por la riqueza de los trajes tradicionales. El giro conjunto de las bailarinas crea una imagen de caleidoscopio de colores. Según la tradición esta danza es el símbolo de la femineidad, por lo tanto es realizado solo por niñas y mujeres. La vestimenta que acompaña a este baile está compuesta por el  Ghagra-Choli. Ghagra es una falda larga, circular y con mucho vuelo, decorada con cristales, espejos y bordado de hilos pesados, mientras que el Choli es una blusa pequeña, una especie de top sumamente adornado. Este atuendo se acompaña con una dupatta (estola), que se utiliza como un velo con el que se cubre la cabeza.Se completa el atuendo con joyería típica de piedras preciosa y láminas de oro o plata.
      
            </p>
             <p class="target" style="word-wrap:break-word; font-size: 18px;">
              Una fascinante interpretación de danza Ghoomar, es la actuación de Deepika Padukone en la película de Bollywood, Padmavati (2018), dirigida por Sanjay Leela Bhansali. Mira el video a continuación <a style="text-decoration: underline;" href="https://www.youtube.com/watch?v=6cKErCWrb44">Youtube</a>
            </p>
          </div>
          
          <div class="container-acc">
            
                
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Kalbelia</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
                Esta danza popular de Rajasthan está vinculada a la tribu nómada del mismo nombre. Es conocido por ser uno de los bailes folclóricos más sensuales de la India, y esto tiene una explicación: la antigua tribu Kalbelia, tenía experiencia como encantadores y cazadores de serpientes. Esta herencia se encuentra bien reflejada en toda su forma de ser. Desde los movimientos de baile, hasta en su vestimenta, la semejanza con los movimientos de las serpientes es sorprendente. 
              </p> 
      
              <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
              El baile es realizado principalmente por las mujeres de la tribu, mientras que los hombres se encargan de tocar la música. El instrumento de viento que se toca sin parar durante la actuación, se llama Pungi y está hecho de madera. Las bailarinas muestran su flexibilidad, a través de elegantes pasos acrobáticos, junto con giros, piruetas y otros movimientos ondulantes.
              </p>   
      
              <div class="text-center" style="margin-top:40px; margin-bottom:40px">
              <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/kalbelia.png" alt="blog-image">
              </div>
                  
              <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
                    El vestuario incluye un Ghagra (falda) de gran circunferencia, un iAngrakhi (blusa) para la parte superior del cuerpo y un velo para cubrir la cabeza. Todo el atuendo es es esencialmente negro, con incrustaciones de espejo, bordados de hilo plateado y cordones rojos. Las bailarinas usan ornamentación tradicional, junto a tobilleras y  tatuajes. 
              </p>   
               <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
      
                La música y la danza Kalbelia fueron declaradas parte de la Lista del Patrimonio Inmaterial de la Humanidad, por la UNESCO en el año 2010.
      
              </p> 
      
            </div>
            
          
            <div class="container-acc">
              <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Bhavai</h4>
            </div>
                 <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
         La danza Bhavani es un acto de equilibrio puro entre el cuerpo y los accesorios. Las bailarinas visten trajes pesados, y  ​​balancean una torre de siete o nueve ollas de latón o de barro sobre sus cabezas, mientras realizan otros movimientos. El acto se intensifica cuando objetos como una placa de latón, el filo de una espada o una botella de vidrio se colocan como base. Toda la vista es impresionante. El espectáculo se ve reforzado por la vestimenta colorida y los adornos pesados que utilizan las bailarinas. Este atuendo está compuesto por el Ghagra y el Choli rajasthani. Incluso las ollas de hierro están ornamentadas y que pueden llegar a ser hasta 12. 
            </p> 
      
            <div class="text-center" style="margin-top:40px; margin-bottom:40px">
           <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/bhavai.png" alt="blog-image">
            </div>
      
      
            </div>
      
          <div class="container-acc">
            
                
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Kachchhi Ghodi</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
      
       El Kachchhi Ghodi es una danza folclórica realizada por hombres que simulan ir montados en caballos. El vestuario es elaborado, e incluye Dhoti-Kurta y un turbante, a esto se añaden las figuras de caballos, igualmente coloridos y decorados con abundantes bordados. Es muy entretenido ver a los bailarines con sus espadas, montados en sus caballos decorados. Aunque esta danza es bailada en muchas festividades, donde más se destaca es en la fiesta de los novios, durante las  celebraciones de boda. Es un espectáculo lleno de vida y alegría, que no debes perderte si visitas Rajasthan.
      
              </p>   
      
          <div class="text-center" style="margin-top:40px; margin-bottom:40px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/kachchhi-ghodi.png" alt="blog-image">
          </div>
              
            </div>
      
            
      
      <div class="container-acc">
      
                <div>
                <h4 style="font-weight: 1000; margin-top: 50px;">Gair</h4>
                </div>
                
             <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
      Esta forma popular de danza forma parte del acervo cultural de la tribu Bhil de Rajasthan, e incluye bailarines masculinos y femeninos. Estos sostienen palos de madera en sus manos mientras danzan en forma circular. Batiendo estos palos van marcando el ritmo.  El vestuario es una túnica larga y plisada que se abre como una falda acampanada en la parte inferior, el borde de la prenda es de color azul. Estas túnicas son en su mayoría rojas o blancas,con bordados en plata u oro, lo cual las hace lucir excepcionalmente bellas. El look se completa con un turbante de color azafrán. Las principales festividades en las que se puede ver el Gair son, el festival Holi, conocido como festival de los colores, y el Janmastami, en el que se celebra el cumpleaños del Señor Krishna.
      
              </p> 
      
          <div class="text-center" style="margin-top:40px; margin-bottom:40px">
          <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/gair.png" alt="blog-image">
          </div>
              
            </div>
              
      
        </div>
      



    </div>




    
    <button class="accordion"> Danzas populares de  Maharashtra</button>
    <div class="accordion-content">

    <div class="container-acc" >
      <!--  Blog Title-->
      <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
        <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px;" >
            Danzas populares de  Maharashtra</h1>
      
        
      </div>
        <!---- Blog Image-->
         <div class="text-center" style="margin-top:20px; margin-bottom:15px">
        <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/lavani-1.jpg" alt="blog-image">
        </div>
        
            <h4 style="font-weight: 1000; margin-top: 50px;">Lavani</h4>
    
        <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
        <!---  Blog Content -->
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
              Su nombre proviene de la palabra Lavanya que significa belleza, Lavani es considerada como la piedra angular del teatro popular marathi. Tanto el baile como la música son bastante rápidos. "Dholki" (una forma de tambor) es fundamental para dar el ritmo de tempo alto, necesario en este baile. Lo bailan principalmente las mujeres; por lo tanto, el vestuario es un sari típico de nueve yardas envuelto en el estilo tradicional marathi, junto con joyas pesadas, ghungroo (campanillas) y el tradicional bindi rojo en la frente. Un aspecto notable de Lavani es que aborda los aspectos sociopolíticos prevalentes de la sociedad. Las letras de sus canciones son, por lo tanto, una versión sarcástica de los mismo, pero con un tono erótico.
          </p>
    
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
    En la actualidad, hay hombres que se visten como mujeres para bailar esta danza popular. Se amoldan a los personajes necesarios y muestran su pasión inquebrantable por el Lavani.
          </p>
              <div class="text-center" style="margin-top:20px; margin-bottom:15px">
        <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/lavani-2.jpg" alt="blog-image">
        </div>
        </div>
    
      
        <div class="container-acc" style="margin-top:15px; margin-bottom:15px" >
        <!---  Blog Content -->
        <h4 style="font-weight: 1000; margin-top: 50px;">Koli</h4>
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
               Es una danza popular de Maharashtra, llamada así, por pescadores del estado, los Kolis. Esta comunidad es reconocida por su identidad propia,que la distingue de las las demás y que también se refleja en este baile. Así, muestra varios aspectos de su estilo de vida y ocupación, la pesca.
          </p>
    
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
             Realizado tanto por hombres como por mujeres, el baile ayuda a los Kolis a relajarse después de las dificultades que enfrentan diariamente en el trabajo y en la vida. Actúan en línea o en parejas. Mientras actúan imitan el movimiento de los remos, de las olas y la pesca. El baile presenta algunas variaciones, dependiendo de la región. Independientemente de estas diferencias, el traje utilizado es más o menos el mismo. Las mujeres visten saris típicos de Maharashtra. Por su parte, los hombres usan pareos atados alrededor de sus cinturas de manera triangular.
    
          </p>
         
        
        <div class="text-center" style="margin-top:15px; margin-bottom:15px">
        <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/koli.png" alt="blog-image">
        </div>
    
     </div>
        
        <div class="container-acc">
          
              
              <div>
              <h4 style="font-weight: 1000; margin-top: 50px;">Dindi</h4>
              </div>
              
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
            Es una danza folklórica devocional realizada el día 11 del mes de Kartik (octubre-noviembre).  Recibe su nombre del Dindi, instrumento musical similar a un pequeño tambor. Por lo tanto, no hay duda de que este instrumento es fundamental en la presentación  de este baile. 
            </p> 
            <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
            La danza retrata la alegría de la deidad hindú Krishna. Los artistas creen que presentar este baile prácticamente abre las puertas del cielo. Danzan en rondas al ritmo del Dindi. Otro instrumento musical utilizado es el Mridangam (instrumento de percusión) además, hay un cantante. Hermosos versos y poemas se suman a la belleza del baile. En general, los movimientos oscilantes, la música relajante y las letras expresivas crean un ambiente perfecto para la actuación y para sus espectadores.
            </p> 
    
    
              
    
            <div class="text-center" style="margin-top:40px; margin-bottom:40px">
            <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/dindi.png" alt="blog-image">
            </div>
                
    
          </div>
          
        
       
    
        <div class="container-acc">
          
              
              <div>
              <h4 style="font-weight: 1000; margin-top: 50px;">Dhangari Gaja</h4>
              </div>
              
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
    Realizada por los pastores del distrito de Solapur, conocidos como Dhangars, esta danza es reconocida como una de las más vibrantes del estado. Debido a la naturaleza de su ocupación, los Dhangars deben viajar y mantenerse alejados de sus familias durante mucho tiempo. Mientras viajan, pasan su tiempo cerca de la naturaleza, lo que los inspira a escribir hermosos pareados y poemas. Estos poemas también están dedicados a su deidad, Dios Biruba. Al regresar, celebran con sus familias bailando estos poemas musicalizados con los ritmos del tambor. Es también una forma de buscar las bendiciones de su deidad. Los artistas, vestidos con sus atuendos tradicionales, llevan a cabo esta celebración con gran pompa y fervor.
            </p>   
          
        <div class="text-center" style="margin-top:40px; margin-bottom:40px">
        <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/dhangari.png" alt="blog-image">
        </div>
            
          </div>
    
          
    
    <div class="container-acc">
    
              <div>
              <h4 style="font-weight: 1000; margin-top: 50px;">Povadas</h4>
              </div>
              
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
    Presentado en forma de baladas, este baile representa la vida del gran gobernante Maratha, Shri Chhatrapati Shivaji Maharaj. Algunas de las famosas baladas que se llevan a cabo, a menudo incluyen a Afzal Khanacha Vadh y aTanaji Malusare. La mayoría de estas baladas narran las historias de valentía y victorias del Rey Shivaji y todo el Imperio Maratha. Sin embargo, hoy en día los temas son variados e incluyen cuestiones políticas y sociales. La actuación comienza con una breve oración después de la cual el cantante principal, o Shahir comienza a cantar. El resto comienza a bailar. Los demás  artistas conocidos como Jhilkari tocan instrumentos musicales y cantan. La danza es realizada exclusivamente por hombres vestidos con ropas tradicionales.
            </p> 
    
        <div class="text-center" style="margin-top:40px; margin-bottom:40px">
        <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/povadas.png" alt="blog-image">
        </div>
            
          </div>
            
    
      </div>
    

</div>








</section>



<div class="container"  style="padding:30px; text-align:center; font-style: italic; font-weight:bolder; ">
<h4 style="font-size:19px; color: rgb(247,183,51); font-family: Arial, Helvetica, sans-serif; font-weight: 12000; ">Namaste! Un plataforma única en internet para explorar India a través de reseñas culturales y material artístico hecho por hablantes nativos de hindi Conectar con nosotros significa, conectar directamente con la India.<span style="color: blue; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-weight: 12000;"> Te damos una calurosa bienvenida a nuestra App. Descarga, utiliza y comparte!</span> </h4>

<a href="https://play.google.com/store/apps/details?id=com.spanishbolo.bb&hl=es" class="col-4 text-center" style="border: none;"><img src="/images/google-play-final-icon.png" style="width: 100px; height:100px; margin: 10px;"></a>
<h4>Conecta con Nosotros :</h4>
<div class="social-icons">
      <a href="https://www.facebook.com/Baila-Bollywood-105697461007966/"
        class="col-4 fa fa-facebook text-center" title="Facebook Link" target="_blank"></a>
     
      <a href="https://www.linkedin.com/in/baila-bollywood-3a3b031a1" class="col-4 fa fa-linkedin  text-center"
        title="Linkedin Link" target="_blank"></a>
      <a href="https://instagram.com/bailabollywood20?igshid=15jmz5uzyz1jj"
        class="col-4 fa fa-instagram text-center" title="Instagram Link" target="_blank"></a>
      <a href="https://www.quora.com/share/Baila-Bollywood-on-Instagram-Introducing-Baila-Bollywood-3-days-to-go-bailabollywood-spanishculture-indianculture-bollywood-music-spanishbolo-1?ch=3&share=2cd5e92a&srid=uOprOw"
        title="Quora Link" class="col-4 fa fa-quora  text-center" target="_blank"></a>
      <a href="https://www.medium.com/@bailabollywood20" class="col-4 fa fa-medium  text-center" title="Medium Link"
        target="_blank"></a>
        <a href="https://www.youtube.com/channel/UCUb7jsujf73W8NaVYXqOZ1w?view_as=subscriber" class="col-4 fa fa-youtube  text-center" title="Youtube Link"
        target="_blank"></a>


    
       

    </div>
</div>





<section class="baila-section section-six" style="padding:0; margin: 0;">
  <div class="container-fluid" style="width: 100%; margin: auto; border: none;">
    <div class="row footer-row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-left ">
        <div id="logo-float">            
        <a href="https://www.bailabollywood.com/" target="_blank"> <img class="footer-logo mt-5"
            src="/images/baila-bollywood-transparent-white.png" alt="spanish bolo" style="width: 140px; height: 140px;"></a>
        
        <a href="https://www.spanishbolo.com/" target="_blank"> <img class="footer-logo mt-5"
            src="/images/spanish-bolo-logo.png" style="max-width: 140px; max-height: 140px;" alt="spanish bolo"></a>
        </div>
        <p class="text-white text-center mt-3">Nuestros proyectos <a href="https://www.spanishbolo.com/" target="_blank">SpanishBOLO</a> y BailaBollywood exploran los rincones culturales  de la India y el mundo hispanohablante, para compartir estas riquezas con nuestros lectores, y así,  afianzar el  vínculo entre ambas regiones, creando un sentido de comunidad y hermandad social.   
  </p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 footer-center">
        <h4 class="mt-5  display-5">Conecta con Nosotros :</h4>
        <br>
        <div class="social-icons row justify-content-center">
          <a href="https://www.facebook.com/Baila-Bollywood-105697461007966/"
            class="col-4 fa fa-facebook text-center" title="Facebook Link" target="_blank"></a>
         
          <a href="https://www.linkedin.com/in/baila-bollywood-3a3b031a1" class="col-4 fa fa-linkedin  text-center"
            title="Linkedin Link" target="_blank"></a>
          <a href="https://instagram.com/bailabollywood20?igshid=15jmz5uzyz1jj"
            class="col-4 fa fa-instagram text-center" title="Instagram Link" target="_blank"></a>
          <a href="https://www.quora.com/share/Baila-Bollywood-on-Instagram-Introducing-Baila-Bollywood-3-days-to-go-bailabollywood-spanishculture-indianculture-bollywood-music-spanishbolo-1?ch=3&share=2cd5e92a&srid=uOprOw"
            title="Quora Link" class="col-4 fa fa-quora  text-center" target="_blank"></a>
          <a href=" https://link.medium.com/jSOvCnafY3" class="col-4 fa fa-medium  text-center" title="Medium Link"
            target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCUb7jsujf73W8NaVYXqOZ1w?view_as=subscriber" class="col-4 fa fa-youtube  text-center" title="Youtube Link"
            target="_blank"></a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 footer-right">
        <img src="/images/baila-bollywood-transparent-white.png" class="footer-right-img " alt="baila bollywood">
      </div>
    </div>
  </div>
</section>

<div class="footer-section ">
<i style="color:#fff"class="fa mr-3 d-block fa-flag-checkered"></i>
  Website Made With &hearts; By <div style="line-height: 48px;"><a href=" https://www.linkedin.com/in/vaibhav-kaul-ab5941182/"
      class="text-white mx-1" target="_blank" title="Vaibhav's Linkedin Profile" style="font-size: 20px;">Vaibhav Kaul</a></div>
  And <a href="https://www.linkedin.com/in/pawan-saggu-06589b157/" class="text-white mx-1"
      target="_blank" title="Pawan's Linkedin Profile" style="font-size: 20px">Pawan Saggu</a>
      <a style="text-decoration: underline;" href="#privacyPolicyModal" class="text-white text-center  mb-1"  data-toggle="modal" data-target="#privacyPolicyModal">Política de Privacidad</a>
  <br />
  &copy; 2020 Copyright BailaBollywood<img src="/images/Spanish-bolo-natraj-transparent.png" alt="Spanish Bolo">
</div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

<script>
      $(document).ready(function(e) {
      $('img[usemap]').rwdImageMaps();
    });
      </script>


<script>
var accordions = document.getElementsByClassName("accordion");
 
for (var i = 0; i < accordions.length; i++) {
  accordions[i].onclick = function() {
    this.classList.toggle('is-open');
 
    var content = this.nextElementSibling;
    if (content.style.maxHeight) {
      // accordion is currently open, so close it
      content.style.maxHeight = null;
    } else {
      // accordion is currently closed, so open it
      content.style.maxHeight = content.scrollHeight + "px";
    }
  }
}
  </script>


</body>
</html>
