.state-h1{
	text-align: center;
	margin-top: 10px;
}
.card-text{
	font-weight: 600;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}