<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="text-center" style="margin-top:20px;">
        <a href="/interviews/posts/<%=id%>/form1">
        <button style="width: 80%;"  class="btn btn-primary">Add Title + Image Only</button>
      </a>
      </div>
      <div class="text-center" style="margin-top:20px;">
        <a href="/interviews/posts/<%=id%>/form2">
        <button style="width: 80%;"  class="btn btn-primary">Add Title + Text Only</button>
      </a>
      </div>
      <div class="text-center" style="margin-top:20px;">
        <a href="/interviews/posts/<%=id%>/form3">
        <button style="width: 80%;"  class="btn btn-primary">Add  Title + Image + Text</button>
      </a>
      </div>
      


    </div>

  </body>
</html>