<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>New Interview Form 1</title>
    <script src="//cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
  </head>
  <body>
    
      <div style="margin-top: 50px; margin-bottom: 50px;">
    <h1 style="color:skyblue;" class="text-center">Add Further Image to Interview</h1>
</div>
      
      <div class="container">
    <form action="/interviews/posts/<%=id%>?type=1" method="POST">
        <div class="input-group input-group-lg">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
              
              name="subInterview[title]"
              placeholder="Enter Your Title">
          </div>
          
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="subInterview[image]"  
                placeholder="Enter Image URL">
          </div>
          <div class="text-center" style="margin-top:20px;">
            <button style="width: 80%;" type="submit" class="btn btn-primary">Publish</button>
          </div>
          
          
          
        </form>
        </div>
        <script>
            CKEDITOR.replace('editor');
            </script>

    </body>
</html>
