<html>
<head>
  <title>Interview </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

</head>
<body style="background-color: #000000e6;color:white" >
     <div class="container">
         <h1 class="text-center">
             Title
         </h1>
         <h5 class="text-center" >conducted BY:xyx</h5>
         <div class="text-center mt-5">
         <img  class="img-resoponsive" style="height: 500px;border:2px white solid;" src="https://miro.medium.com/max/1080/1*RwnC4AAuzmrtfOHKQ79iXg.png">
        </div>
         <div class="mt-5" style="text-decoration-color:wheat ;">
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa recusandae quia eligendi sapiente. A
             spernatur commodi inventore voluptates voluptatum odit nesciunt modi laudantium excepturi porro c
             orrupti. Temporibus laudantium repellat fugit odio.
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta laudantium eaque reiciendis corrupti reprehenderit placea
             t unde maiores, quas tempore maxime! Quia distinctio corrupti sapiente veniam, magnam eum similique aliquam culpa aut iedit, te
             netur magni accusantium asperiores debitis necessitatibus nobis omnis consequuntur saepe exercitationem repellat ex
             plicabo dolorem vel? Voluptatibus impedit consequatur fugiat aspernatur a maiores perferendis minus laudantium cup
             iditate cum obcaecati, vel praesentium ad maxime inventore! Nemo, eum sed libero fugiat fuga eaque nam sit unde dol
             oribus dicta ipsa provident aut ex ducimus necessitatibus amet numquam itaque praesentium earum enim dignissimos qu
             os officiis laboriosam error? Eius aperiam ex repellendus laudantium hic!
         </div >
         <div class="text-center mt-5">
            <audio  controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
         </div>
         <div class="text-center mt-5 ">
            <iframe class="rounded-lg" width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
         </div>
         <div class="mt-5" style="text-decoration-color:wheat;">
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium suscipit dicta vel cum placeat. Sint harum, ullam molestiae 
             maxime, sed explicabo id doloremque inventore voluptas eveniet ut sapiente! Optio eligendi officia velit totam excepturi maiores 
             quo saepe dolorum laboriosam expedita cum quae veritatis molestiae eius, ea quas accusamus pariatur. Modi libero fugiat voluptat
             ibus ipsum cum laudantium incidunt deleniti minus tenetur voluptatum, officia beatae quae rem harum obcaecati, minima qui nostru
             m aperiam eius neque sunt culpa debitis. Soluta fugiat debitis obcaecati accusamus tenetur voluptas, aliquam aperiam quasi paria
             tur alias reiciendis temporibus sed! Minus magni laudantium eius fugit vitae ipsam eligendi magnam, velit sapiente nesciunt unde
              hic placeat exercitationem ullam? Qui neque, blanditiis ut, ipsa quibusdam reiciendis, sit voluptatibus quaerat officia cum bea
              tae sequi nobis? Porro totam corrupti quo at iure ipsam perferendis numquam, optio quibusdam consequatur obcaecati veritatis li
              bero in sint aliquam dolore fugiat neque, error vel iste ut? Distinctio aliquam quam placeat nemo officia sequi delectus dicta
               possimus voluptatum voluptates, beatae obcaecati accusantium ex quibusdam nulla fugiat alias, quod est verit
             atis earum error tempore sint facere? Consequuntur, aliquam, nulla obcaecati a eveniet labore ad vel aspernatur voluptate, quas 
             ipsum dolorum sint ut cupiditate ipsa quos facilis eius expedita architecto error!
         </div>
          

     </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>