<html>
    <head>
        <title>
            Social Handles
        </title>
        <style>
            body{
                background-image: url("https://miro.medium.com/max/1080/1*RwnC4AAuzmrtfOHKQ79iXg.png");
                background-repeat: var(--overlay-color);
                --overlay-color: black;
            
            }
            
 
        </style>
    </head>
    <body>
        
    </body>
</html>