<html>
  <head>
    <title>Assam Folk Danzas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>

      <meta charset="UTF-8">
  <!--Title of the Website-->
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />


  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/states-style.css">

  
  </head>
<body >

 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>


  <div class="container" >
  <!--  Blog Title-->
  <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
    <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px; font-family: 'Ananda Namaste Regular';" >
 Danzas populares de Assam</h1>
  
    
  </div>
    <!---- Blog Image-->
 
    <div class="text-center" style="margin-top:15px; margin-bottom:15px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/assam.jpg" alt="blog-image">
    </div>
  
    <div class="container" style="margin-top:15px; margin-bottom:15px" >
    <!---  Blog Content -->
   
      <p class="target" style="word-wrap:break-word; font-size: 18px;">
¿Sabías que las islas fluviales más grandes y más pequeñas del mundo se encuentran en este estado? Si no es así, prepárate ya que la lista de las bellezas de  Assam puede ser muy larga y este artículo no será suficiente para resumir sus diversas atracciones. Assam es conocida como la puerta de entrada a los estados del noreste de la India. 
</p>

      <p class="target" style="word-wrap:break-word; font-size: 18px;">
Los conecta a todos con la India continental, a través de una pequeña franja de isla llamada Corredor de Siliguri. Por lo tanto, es ciertamente el Centinela del noreste de la India.  </p>
  
      <p class="target" style="word-wrap:break-word; font-size: 18px;">
Assam es un estado diverso y de gran riqueza cultural. Es el hogar de varias tribus y comunidades que muestran sus influencias en la herencia popular de este estado. .    </p>
  
        <p class="target" style="word-wrap:break-word; font-size: 18px;">
  Puede resultar interesante saber que Assam ha hecho algunas contribuciones importantes en el campo de las artes escénicas, una de estas es la película assamesa Village Rockstars presentada como película oficial de de la India en los 91 Premios de la Academia. Asimismo, en el 2019, ganó el récord mundial de la actuación más grande de danza Bihu (una de sus principales danzas folclóricas), en el patio de recreo de una escuela secundaria de Guwahati. Bueno, así de increíble es nuestro Assam.
  </p>
  
  
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
  Abajo encontrarás la lista de algunas danzas folclóricas de Assam que deberías ver
  </p>
  
  
  
    
    <div class="container">
      
          
          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Bihu</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
La danza Bihu, es originaria del estado nororiental de Assam, es realiza durante el festival del mismo nombre. Assam celebra tres festivales diferentes en los que se interpreta el Bihu, en diferentes meses del año. Es bailada de manera popular durante el  Rongali Bihu (en el mes de abril), èn el que se conmemora el inicio del Año Nuevo Assames y la entradas de la temporada de primavera. Son 7 días en los que la gente festeja la alegría de los agricultores mientras preparan sus campos para el cultivo de arroz. Rongali Bihu es otra festividad celebrada con mucha pompa y fervor en todo el estado y esta  danza es sin duda una parte importante de la misma.

</p>       



     <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Este baile, realizado por hombres y mujeres jóvenes, se caracteriza por los movimientos tanto  bruscos cono suaves de los brazos y el cuerpo. Los bailarines danzan formando  líneas rectas o círculos,saltando,  moviendo las manos y balanceando las caderas. El instrumento musical por excelencia, tocado durante la presentación de Bihu es el Dhol (tambor) de doble cara que se lleva colgado del cuello. Otros instrumentos utilizados para lograr los ritmos adecuados para la música tradicional de Bihu son Pepa, Bamboo Clappers, Xutuli, Gogona y las flautas.

</p>

<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
La vivacidad de este baile es realzada por sus hermosos trajes tradicionales. Los hombres visten con Dhoti (prenda inferior) y Gamocha (para la cabeza), mientras que las mujeres usan el atuendo tradicional Assames: Makhela (para la parte inferior) y Chador (para la parte superior del cuerpo). La mayoría de estos trajes  están hechos con la exquisita Muga Silk (seda) de Assam. Las bailarinas se adornan con joyas y flores tradicionales para completar su aspecto.</p>

<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
  La alegría de esta danza  popular es contagiosa y se transmite de manera rápida entre la audiencia. Presenciar este baile definitivamente debería estar en la lista de las cosas para ver en la India.
</p>   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/bihu.jpg" alt="blog-image">
    </div>
        
      </div>
      
    
      <div class="container">
        <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Bagurumba</h4>
      </div>
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
   
La danza Bagurumba, también conocida como danza de la mariposa, es propia de la tribu indígena Bodo de Assam. Se llama así debido a los movimientos rápidos, semejantes  a los de una mariposa que se realizan en este  baile. Su  naturaleza tranquila mantiene una sincronía perfecta con la exuberancia de la primavera. Este baile es parte de la celebración del festival Bwishagu,  que tiene lugar  a mediados del mes abril. Su objetivo es ofrecer un homenaje a su deidad. Los tranquilos movimientos de este baile, junto con los coloridos trajes, convierten a este baile, en uno de los más atractivos de este estado. Los trajes típicos: Dokhona, Jwmgra y Aronai son adornados con la joyería tradicional. 

</p>
     
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
Un baile está incompleto sin su música melodiosa. Esta danza utiliza especialmente instrumentos locales de la tribu Bodo como: Siphung (flauta), Serja ( instrumento con arco), Kham ( tipo de tambor), Tharkha (instrumento de percusión hecho de bambú) y Khawang (un par de platillos unidos por un cuerda). Los bailarines también contribuyen con la música.  Mientras danzan van pronunciando frases en su idioma local, como bagurumba hay bagurumba.
</p>
      <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Bagurumba.jpg" alt="blog-image">
    </div>
     

      </div>

    <div class="container">
      
          
          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Ojapali</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

       
Ojapali es una de las antiguas danzas folclóricas de Assam, es una fusión de cantos narrativos, bailes y obras dramáticas. Una compañía de artistas de Ojapali está conformada por un Oja (que lidera la actuación) y por cuatro a seis Palis (quienes  complementan la actuación) y tocan platillos. Está inspirada en episodios mitológicos aunque no siempre.
        </p> 

        <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Las canciones cantadas durante la interpretación están en sánscrito. El  Oja viste una camisa larga y fluida denominada Capcan, así como un pijama y una faja alrededor de la cintura. También se adornan con un tipo especial de turbante blanco y una Pachara en sus hombros. Los Palis usan capcan, dhotis y turbantes blancos.
 </p>   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Ojapali.jpg" alt="blog-image">
    </div>
        
      </div>
      

<div class="container">

          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Ali Ai Ligang</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

El significado literal del nombre de este baile es sembrar las semillas de la cosecha. Esta danza es un  homenaje a la Madre Tierra por una cosecha exitosa y productiva. Es interpretada durante el festival del mismo nombre, celebrado por la tribu Mishing de Assam        
</p> 

       

  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Las principales  fuentes de ingresos de esta tribu son las actividades agrícolas y pesqueras. Por lo tanto, este festival es muy importante para este pueblo. Los hombres y las mujeres jóvenes bailan con sus coloridos atuendos tradicionales con gran entusiasmo. Sus pasos son rápidos y se pone un especial énfasis en el movimiento de las muñecas y de las manos, así como en el  balanceo rítmico del cuerpo. La flauta, los platillos, los tambores, las pipas son algunos de los instrumentos musicales que acompañan la actuación con los ritmos apropiados para los enérgicos movimientos de este baile.
  </p> 

               

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Ali Ai Ligang.jpg" alt="blog-image">
    </div>
        


  </div>
</div>

 <%- include footer-blogs.ejs %>


<!--Parsing HTML JS-->
<script>
$(".target").each(function(){
    let text = ( $(this).text());

    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<!--Boot Strap-->  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>