<html>
  <head>
    <title>Chhattisgarh Folk Danzas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>

      <meta charset="UTF-8">
  <!--Title of the Website-->
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />


  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/states-style.css">

  
  </head>
<body >

 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>

  <div class="container" >
  <!--  Blog Title-->
  <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
    <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px; font-family: 'Ananda Namaste Regular'" >
 Danzas populares de Chhattisgarha </h1>
  
    
  </div>
    <!---- Blog Image-->
 
    
    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Raut Nacha</h2>
          </div>
.          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Raut Nacha o danza popular de los pastores es realizada por el pueblo Yadava / Yaduvanshi de Chhattisgarh. Se cree que estas personas son descendientes de la deidad hindú Señor Krishna. Según la mitología hindú, el Señor Krishna y Yadavas derrotaron al malvado Rey Kansa. Por lo tanto, se baila para celebrar el triunfo del bien sobre el mal después del festival de Diwali. Los palos y los escudos de metal son una parte importante de este baile. Los trajes son coloridos y los bailarines usan campanas atadas a sus cinturas y sus tobillos.</p>
      


    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/raut.png" alt="blog-image">
    </div>
        
      </div>
      
    

    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Saila</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Saila es una danza tribal popular realizada después de la cosecha. Específicamente antes del festival de Diwali (el festival de las luces). Los niños pequeños van de aldea en aldea presentando su baile. Los palos son esenciales en una actuación de Saila. Es esto lo que lo convierte en una forma de baile única y famosa, especialmente en los distritos de Baitul, entre la gente de las localidades de Sarguja y de Chhindwara. 

        </p> 

        <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Los temas presentados varían según la región y lo relevante para ese lugar. El baile es principalmente de ritmo rápido. Los bailarines intentan que sus pasos coincidan  con el Mandar, instrumento que marca los ritmos para la actuación. El clímax es el momento en el cual se baila con unas serpientes, lo que hace más atractiva a esta a esta forma de arte. La actuación es premiada por los espectadores, con arroz.     </p>   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/saila.jpg" alt="blog-image">
    </div>
        
      </div>

      

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Panthi</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Las comunidades tribales de este estado contribuyen de manera importante a la  diversidad cultural. Satnami es una de esas comunidades. La tribu es famosa por su danza única Panthi. Esta se realiza especialmente con motivo del Maghi Purnima, aniversario del nacimiento del Gurú Ghasidas (creador de una secta similar al sijismo). El baile es interpretado exclusivamente por varones. El líder del grupo comienza cantando una canción y moviendo el cuerpo de manera lenta. Los otros bailarines lo siguen y gradualmente todos ellos aceleran el ritmo. Realizan acrobacias y forman pirámides humanas durante la actuación. Los artistas se adornan con coloridas vestimentas tradicionales y joyas minimalistas. 
        </p> 

       

  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Sin embargo, este baile tiene  otro significado. Es una danza ritual en la que las mujeres El ritmo es proporcionado por el Mandar (tambor), el Jhanjh (platillo) y el Mridanga (instrumento de percusión) que establecen el tono para la ejecución de este baile. El Panthi es un reflejo del rico patrimonio cultural de los grupos tribales indígenas de la región.  </p> 
       

  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
La actuación es acompañada por cantantes y músicos que tocan instrumentos como harmonium, flautas y dholak (un tipo de tambor). Hay una melodía devocional en las palabras "Haali-Huli Barshun Inder Deveta", cuando se canta con convicción.  </p> 

          	   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/panthi.jpg" alt="blog-image">
    </div>
        

		


		
      </div>
        

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Sua Nacha</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Sua o Suwa Nacha es una forma de danza tribal que también es conocida como la danza del loro. Se la baila con motivo del matrimonio Goura y también un mes después de Diwali. Las bailarinas hacen largos viajes a los pueblos vecinos para presentar esta danza tribal. Un loro hecho de madera enterrado con brotes de arroz dentro de una cazuela de bambú o de barro, es colocado en el centro de la actuación.
        </p> 

         <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Todos bailan en ronda alrededor de esta vasija. Imitar a un loro y aplaudir forman parte de la actuación. Aparte de la sonaja de madera, Thiski, no se utilizan  otros instrumentos musicales. Por su colorido atuendo tradicional y estilo único, este baile es una deleite  para los ojos de sus espectadores.
        </p> 


               

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/sua-nacha.jpg" alt="blog-image">
    </div>
        

    


    
      </div>

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Karma</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Es una danza tribal popular entre las comunidades Gonds, Baigas y Oraons. El baile está asociado con el festival otoñal llamado Karma Puja. Este baile ceremonial es realizado en honor  a su deidad Karma Devta, quien se cree que trae la buena o la mala suerte a la vida de las personas. El festival también simboliza el final de los días lluviosos y la llegada de la primavera. 
        </p> 
               <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Hombres y mujeres participan de este baile. Mueven sus pies en estilo "de aquí para allá". Los hombres saltan hacia adelante mientras que las mujeres del grupo se inclinan hacia el suelo. En una ronda, van tomando la cintura del bailarín de adelante, en perfecta coordinación. El baile se acompaña de las melodías de los instrumentos musicales tradicionales con Timki, (un tipo de tambor) como instrumento principal. Los bailarines se adornan con sus trajes y joyas étnicas.
        </p> 
               <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
La danza del karma no es exclusiva de este estado. También se realiza en otras partes del país. Sin embargo, cada estado tiene un estilo propio y único de bailar y en este sentido el Karma de Chhattisgarh también es único. 
        </p> 

       


               

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/karma.jpg" alt="blog-image">
    </div>
        

    


    
      </div>

  </div>


 <%- include footer-blogs.ejs %>


<!--Parsing HTML JS-->
<script>
$(".target").each(function(){
    let text = ( $(this).text());

    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<!--Boot Strap-->  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>