<div class="container"  style="padding:30px; text-align:center; font-style: italic; font-weight:bolder; ">
 <h4 style="font-size:19px; color: rgb(247,183,51); font-family: Arial, Helvetica, sans-serif; font-weight: 12000; ">
BailaBollywood trabaja sobre la misión de ofrecer al mundo hispanohablante una experiencia de primera mano a la cultura India. 
Es una plataforma única en internet para explorar la cultura India y conectar directamente con la India.
<span style="color: blue; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-weight: 12000;">Te damos una calurosa bienvenida a nuestra App. Descarga, utiliza y comparte! 
</span> </h4>

   <a href="https://play.google.com/store/apps/details?id=com.spanishbolo.bb&hl=es" class="col-4 text-center" style="border: none;"><img src="/images/google-play-final-icon.png" style="width: 100px; height:100px; margin: 10px;"></a>
<h4>Conecta con Nosotros :</h4>
<div class="social-icons">
              <a href="https://www.facebook.com/Baila-Bollywood-105697461007966/"
                class="col-4 fa fa-facebook text-center" title="Facebook Link" target="_blank"></a>
             
              <a href="https://www.linkedin.com/in/baila-bollywood-3a3b031a1" class="col-4 fa fa-linkedin  text-center"
                title="Linkedin Link" target="_blank"></a>
              <a href="https://instagram.com/bailabollywood20?igshid=15jmz5uzyz1jj"
                class="col-4 fa fa-instagram text-center" title="Instagram Link" target="_blank"></a>
              <a href="https://www.quora.com/share/Baila-Bollywood-on-Instagram-Introducing-Baila-Bollywood-3-days-to-go-bailabollywood-spanishculture-indianculture-bollywood-music-spanishbolo-1?ch=3&share=2cd5e92a&srid=uOprOw"
                title="Quora Link" class="col-4 fa fa-quora  text-center" target="_blank"></a>
              <a href="https://www.medium.com/@bailabollywood20" class="col-4 fa fa-medium  text-center" title="Medium Link"
                target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCUb7jsujf73W8NaVYXqOZ1w?view_as=subscriber" class="col-4 fa fa-youtube  text-center" title="Youtube Link"
                target="_blank"></a>


            
               

            </div>
</div>