<html>
  <head>
    <title>Goa Folk Danzas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>

      <meta charset="UTF-8">
  <!--Title of the Website-->
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />


  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/states-style.css">

  
  </head>
<body >

 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>

  <div class="container" >
  <!--  Blog Title-->
  <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
    <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px; font-family: 'Ananda Namaste Regular'" >
 Danzas populares de Goa </h1>
  
    
  </div>
    <!---- Blog Image-->
 
   
  
    <div class="container" style="margin-top:15px; margin-bottom:15px" >
    <!---  Blog Content -->
    
   
      <p class="target" style="word-wrap:break-word; font-size: 18px;">
Los bailes de Goa son un ejemplo del rico y especial patrimonio cultural de este estado. Goa es el hogar de muchas castas y tribus, cada una, con sus exóticos bailes folclóricos y actuaciones. Además, las diferentes dinastías que lo han gobernado,  han dejado su huella indeleble en sus danzas, a lo largo de los siglos. Si bien estos bailes folclóricos han sido preservado cuidadosamente, la influencia del dominio portugués ha dado lugar a nuevas formas de arte.
</p>

    </div>
    
    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Dekhni</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Dekhni es un baile semiclásico de Goa. También es conocido como Dekni. Esta danza es una atractiva mezcla de melodía india y ritmo occidental. Es bailada principalmente por chicas cristianas que visten elegantes ropas indias. Esta danza representa la vida de una Devadasi, es decir, una sierva de Dios cuyo papel es bailar en templos y ceremonias sociales como bodas. Una de las canciones populares que acompaña a esta danza es Hanv Saiba Poltodi Vetam de Carlos Eugenio Ferreira (1860-1926), publicada por primera vez en París, en 1895 y luego en Goa en 1926. 

</p>
   <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

La palabra 'Dekhni' significa 'belleza hechizante' en el idioma Konkani. Se cree que su origen se encuentra en el sistema Devadasi de los goaneses. Según este sistema, algunas mujeres dedican sus vidas al servicio de Dios. No se casan ni tienen familias. Se dedican a  actuar en los templos y frente a Dios, por lo que este baile ha existido durante mucho tiempo. 

</p>
   <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

El argumento de la danza es sobre una Devadasi que quiere abordar un ferry para llegar a la otra orilla, donde tiene una cita para bailar en la celebración de una boda. Ella le pide al barquero que la lleve. Este se niega y le dice que sería peligroso moverse ya que el agua está agitada. La Devadasi insiste e incluso le ofrece un arete de oro como pago, si es que la lleva de manera urgente. Entonces, las artistas comienzan a  bailar para el barquero, y esta vez acepta llevarla a través del agua. 

</p>
   <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

El baile es una mezcla de ritmos occidentales y melodía india. Algunos de sus movimientos han sido tomados de danzas clásicas como Kathak y Bharatanatyam. La actuación muestra una original conversación entre la joven y el barquero en forma de una canción melodiosa. Las bailarines usan pantis, que son una pequeñas lámparas de arcilla con una mecha flotando en aceite o incluso artis.  

</p>
     <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Solo existen dos o tres canciones de Dekhni, escritas y calificadas hace mucho tiempo, en estas, las artistas bailan al ritmo de Ghumat, el tambor folklórico. Uno de los primeros dekhni, que data de hacia 1869, es Kuxttoba, el cual se conoce como   'Heredero de la India y terror de Goa, lo que refleja la resistencia al dominio portugués. Kuxttoba era parte de la rama Salekar de la familia Rane.  

</p>

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Dekhni.jpg" alt="blog-image">
    </div>
        
      </div>
      
    
      <div class="container">
        <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Dashavatara</h2>
      </div>
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
   
Dashavatara es una de las principales formas tradicionales de arte de Goa. El estado es conocido por sus diversas raíces culturales, que dan color a sus festivales, bailes y dramas. Este drama tradicional pertenece a la fe hindú. Además, proyecta una imagen de Goa, diferente, que nada tiene que ver con el estilo de vida simple y relajado con el que generalmente se lo identifica.  
     </p>
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">	 
Dashavatar es un término que refiere a las diez encarnaciones del Señor Vishnu (Dios hindú). "Das" significa diez, un "avatar" significa encarnación. La raíz de esta danza aún no pudo ser determinada. Algunos afirman que es una evolución de la danza Yakshagana, muy popular en el  sur de la India. Otros,que es una transformación del Kuchipudi. Yakshagana es un tipo de teatro folklórico clásico originario de Karnataka. En el cual e generalmente se representa temas relacionados al  Ramayana o al Mahabharata. Kuchipudi es un baile clásico de Andhra Pradesh. Sin embargo, lo que se sabe con certeza, es que el  Dashavatar ha estado presente en la región de Konkan desde el siglo 16.
</p>
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
El  "Sutradhar" o director de escena da inicio al baile, con la escena del robo de los Vedas (antiguos textos hindúes). También se pueden ver imágenes de ríos, brahmanes, dioses y diosas (Lord Brahma, Saraswati), así como demonios como Shankasur. Este es el inicio de este baile, que dura casi dos horas. El drama central "Akhyana" comienza después de esto y continúa hasta las primeras horas de la mañana. 
</p>
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
La obra incluye historias de épicas y mitologías indias, con variaciones locales. También canciones y oraciones realizadas por el director de escena, dedicadas a Ganesha (el dios elefante). Esto ocurre desde antes que comience la representación. Los artistas (tanto hombres como mujeres) visten de rojo y blanco. Dashavatara es muy importante para la población local. Es una ocasión importante para la reunión social, y también ayuda a mantener la cultura de Goa, que, como todas las costumbres antiguas, se ve desafiada por una cultura occidental cada vez más dominante.
</p>

      <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Dashavatara.jpg" alt="blog-image">
    </div>
     

      </div>

    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Fugdi</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Fugdi es un baile folklórico de la región de "Konkan", que es la zona costera de los estados de Goa y Maharashtra. Este estilo de baile básicamente "orientado a las mujeres" se desarrolló en el estado de Goa y generalmente es realizado en festivales hindúes como Ganesh Chaturthi y Vrata. 
        </p> 

   <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Según algunas pruebas históricas, se piensa que esta danza se está basada
en algunas antiguas tradiciones de Goa. Además, es interpretada principalmente durante el mes hindú "Bhadrapada", cuando las mujeres suelen tomar un descanso para evitar el aburrimiento de sus rutinas diarias. También se lleva a cabo durante actividades religiosas y sociales. 

        </p> 
  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

El único conocimiento histórico real sobre este baile orientado a las mujeres es que fue diseñado para ayudarlas  a liberarse de la monotonía de sus rutinas cotidianas. El vestuario utilizado, es el "sari". Además, la gajra (un ramo de flores) atada alrededor del cabello, la cual generalmente es una parte importante del atuendo. No hay instrumentos musicales que toquen en vivo durante el Fugdi. En realidad, a medida que las mujeres aumentan el ritmo y la velocidad del baile, van emitiendo un sonido "foo" rítmico al soplar aire por la boca, razón por la que se le llama  Foogdi o Fugdi, a este baile.
        </p> 

  

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Fugdi.jpg" alt="blog-image">
    </div>
        
      </div>

      

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Dhalo</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Dhalo es uno de los bailes rurales más populares de Goa. Es interpretado por mujeres en la noche de luna del mes hindú 'Pusha'. El baile es realizado por las comunidades Kunbis, Bhandari, Naik, Gabit y Gaudí. La leyenda dice que Radha solía cantar canciones de amor conocidas como dhalos para el Señor Krishna. Anteriormente, Dhalos solo se relacionaba con el amor de Krishna y Radha. Poco a poco, la gente creó canciones que a menudo se cantaban en honor a otros dioses.  </p> 




       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
El jefe de la aldea, conocido localmente como Mandkann, invoca a la Divinidad, la Madre Tierra, solicitando sus bendiciones para toda la aldea y los rituales del festival. El evento tiene lugar en un espacio abierto sagrado conocido como el mando, donde todas las personas se reúnen a cantar, bailar o tocar música como parte de un evento ritual. Las damas se visten como hombres para los rituales. Se visten de esta manera para poder  cantar y participar en el baile. Las canciones son tradicionales, pero a menudo simples y espontáneas. </p> 

<div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Dhalo.jpg" alt="blog-image">
    </div>
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
 El canto dura hasta altas horas de la noche. Los diferentes bailes y juegos comienzan alrededor de la medianoche. Los bailarines se agrupan en dos filas paralelas de 12 personas, uno frente al otro. En un tribal, representan un vínculo, colocando el brazo alrededor de la espalda del que está adelante, cantando al unísono. En general, dos filas de mujeres se enfrentan al avanzar y retroceder mientras cantan las historias de sus vidas y la sociedad contemporánea. Historias y eventos son descritos por medio de canciones y bailes.  Estos bailes se realizan durante las primeras seis noches de Dhalo. </p> 


        

		


		
      </div>
      
      <div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Dhangar</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
El  Dhangar es muy común en Goa. El vestido utilizado para el baile consiste en largas faldas blancas o negras,  con rayas rojas, aunque  la mayoría elige vestir solo de blanco. También es conocida como danza Navratri. En el  Dhangar visten como pastores. Cada bailarín usa un turbante en la cabeza. Este es de color blanco y redondo.
 </p> 




       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Las danzas de Dhangar se realizan para honrar y alabar a Bira Deva y Biruba por sus bendiciones. Dhangar también es llamada danza Navaratri, pues es una mezcla de lo divino. En Navaratri, el jefe de la casa se levanta temprano todos los días, se baña, luego toma una una taza de leche con su padre y rezan juntos. El baile es enérgico ya que se realiza con mucha  devoción. Comienza de manera lenta al ritmo de un tambor, con un juego de pies básico. Los músicos giran alrededor de los tambores mientras bailan. </p> 

<div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Dhangar.jpg" alt="blog-image">
    </div>
      


        

    


    
      </div>
      
        

  </div>


 <%- include footer-blogs.ejs %>


<!--Parsing HTML JS-->
<script>
$(".target").each(function(){
    let text = ( $(this).text());

    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<!--Boot Strap-->  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>