<html>
  <head>
    <title>Karnataka Folk Danzas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>

      <meta charset="UTF-8">
  <!--Title of the Website-->
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />


  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/states-style.css">

  
  </head>
<body >

 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>

  <div class="container" >
  <!--  Blog Title-->
  <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
    <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px; font-family: 'Ananda Namaste Regular'" >
 Danzas populares de Karnatakaa </h1>
  
    
  </div>
    <!---- Blog Image-->
 
   
  
    <div class="container" style="margin-top:15px; margin-bottom:15px" >
    <!---  Blog Content -->
   
      <p class="target" style="word-wrap:break-word; font-size: 18px;">
A continuación presentamos la lista de algunas de las danzas folclóricas prominentes de Karnataka: </p>

   


    <br>
    </div>
    
    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Dollu Kunitha</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

       
Dollu Kunitha o danza del tambor es un baile originado en la comunidad Kuruba del norte de Karnataka. Se baila en honor al señor Beeralingeswara (un avatar del señor Shiva). Sin embargo, es tan popular que, en cualquier ocasión festiva se puede ver a grupos de Dollu bailando. Es una combinación perfecta de entretenimiento y espiritualidad. El baile involucra movimientos corporales rápidos, pero variados y complejos.</p>   
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

       
Es bailado por un grupo de 12 a 16 personas que forman un semicírculo, sus movimientos son controlados por un líder que se coloca en el centro. Esta persona dirige la actuación al ritmo de los platillos. Los artistas llevan atados a sus cinturas, unos enormes tambores atados que cuando los tocan de manera conjunta producen una música que puede ser escuchada desde lejos. También se ejecutan otros instrumentos musicales. El Dollu es acompañado por canciones de tonos agudos.</p>  
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Debido a su naturaleza enérgica, este baile requiere que los artistas tengan mucho vigor y resistencia. La atmósfera que lo rodea es extremadamente intensa. Lo que solo se puede sentir cuando se lo presencia en vivo.</p>  

<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
A diferencia de otros, el traje de esta danza popular es bastante simple pero con mucho arraigo a su cultura ancestral. Los hombres se atan una tela negra sobre el dhoti  pero, mantienen la parte superior de sus cuerpos desnudos. Las bailarinas visten saris tradicionales con una tela blanca atada a ambos brazos. Completan su aspecto colocandose  hojas en el cabello, el cual atan con un moño.</p>  


    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/dollu.jpg" alt="blog-image">
    </div>
        
      </div>
      
    

    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Yakshagana</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Es una forma de teatro popular de Karnataka en el que se combina la danza, el drama, los diálogos, la música y las expresiones. Yakshagana son canciones dedicada a los semidioses. Estan divididas en dos categorías. La primera es Moodalopaya, bailado en las zonas del este de Karnataka. El segundo es Paduvlopaya, llevado a cabo en las áreas occidentales del estado junto con Udupi, Kasaragod y algunos otros.
        </p> 

        <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Los temas interpretados están basados en episodios de las epopeyas hindúes: Ramayana y Mahabharata, así como en los Puranas (escritos sánscritos sagrados sobre la mitología hindú). El desarrollo de la historia es acompañado por música de alto nivel. A los bailarines se les llama Mummela. Ellos marcan el ritmo con los pies, realizan movimientos de cuello, gestos con las manos, saltan en cuclillas y se agitan. El objetivo principal del baile es enriquecer las emociones y embellecer la actuación. Los movimientos no están sujetos a ninguna regla. Los bailarines tienen la libertad de ser creativos dependiendo de sus personajes.     </p>       

<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
La coreografía es muy atractiva. Los elaborados disfraces, los tocados, las actuaciones intensas de los artistas y la música enérgica le dan un aspecto aún más atrapante.    </p>  

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Yakshagana.jpg" alt="blog-image">
    </div>
        
      </div>

      

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Veeragase</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Veeragase es una danza tradicional muy conocida de este estado. Se realiza principalmente en los meses de Shravana (julio-agosto) y Karthika (octubre-noviembre) de acuerdo con el calendario hindú, así como con motivo de Dussehra.
        </p> 

       

  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Los temas que se bailan están basados en episodios de la mitología hindú y los artistas expresan su amor a Dios a través de su danza. Siguiendo las reglas, este baile solo puede ser realizado por el pueblo Jangama y la comunidad Lingayat de este estado.
Otro punto a tener en cuenta es que la cantidad de artistas debe ser par: 2, 4 o 6. El uso de cuentas sagradas de Rudraksha para collares, cinturones y brazaletes es una obligación para todos los artistas. El vestuario es bastante intenso e incluye sombreros. El aspecto de los bailarines se completa con el vibhuti (ceniza sagrada) en la frente y las orejas. El baile es considerado sagrado; por lo tanto, cumplir con las reglas es imprescindible para evitar dañar los sentimientos religiosos de la gente. </p> 
       

  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
La actuación es acompañada por cantantes y músicos que tocan instrumentos como harmonium, flautas y dholak (un tipo de tambor). Hay una melodía devocional en las palabras "Haali-Huli Barshun Inder Deveta", cuando se canta con convicción.  </p> 

          	   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Veeragase.jpg" alt="blog-image">
    </div>
        

		


		
      </div>
        

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Pata Kunitha</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Es una danza popular popular de Karnataka, de la región de Mysore. El baile consiste en la manipulación de palos de bambú decorados para la ocasión (Pata) que miden entre 4 a 4 metros y medio. Estos postes están decorados con cintas de colores. Además, en la punta llevan sombrillas de plata o latón. Entre  10 a 15 hombres participan de este hábil acto de equilibrio con el ritmo de la música de fondo. Uno puede presenciar esta actuación en muchas reuniones religiosas, principalmente en las zonas rurales. Los bailarines están vestidos con atuendos tradicionales simples pero coloridos. Este baile es definitivamente una delicia visual para sus espectadores.

        </p> 

       


               

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Pata-Kunitha.jpg" alt="blog-image">
    </div>
        

    


    
      </div>

      <div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Kamsale</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Conocido también como Beesu Kamsale, es una baile de la población de habla Kannada. Tiene un significado religioso en el que los artistas juran lealtad de por vida a Dios. Narra la historia del Señor Mahadeswara Shiva. Este enérgico baile es realizado por un grupo de 3 a 5 hombres.

        </p> 
        <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Todos ellos visten atuendos tradicionales de color rojo y dorado. La actuación también es acompañada por canciones que describen la gloria del Señor Mahadeswara. Entonces, ¿por qué se ha designado el nombre Kamsale para esta forma de baile? Kamsale es en realidad un instrumento musical de metal, con garganta en el centro. Los intérpretes sostienen un par de estos instrumentos en ambas manos. Cuando suenan juntos, producen un fuerte sonido metálico. Son tocados junto a las canciones  y marcar el  ritmo de la actuación.

        </p> 

       


               

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Kamsale.jpg" alt="blog-image">
    </div>
        

    


    
      </div>
  </div>


 <%- include footer-blogs.ejs %>


<!--Parsing HTML JS-->
<script>
$(".target").each(function(){
    let text = ( $(this).text());

    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<!--Boot Strap-->  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html> 