<html>
  <head>
    <title>Mizoram Folk Danzas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>

      <meta charset="UTF-8">
  <!--Title of the Website-->
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />


  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/states-style.css">

  
  </head>
<body >

 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>


<div class="container" >
  <!--  Blog Title-->
  <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
    <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px; font font-family: 'Ananda Namaste Regular';" >
 Danzas tradicionales de Mizoram</h1>
  
    
  </div>
    <!---- Blog Image-->
 
    <div class="text-center" style="margin-top:15px; margin-bottom:15px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/mizoram.jpg" alt="blog-image">
    </div>
  
    <div class="container" style="margin-top:15px; margin-bottom:15px" >
    <!---  Blog Content -->
   
      <p class="target" style="word-wrap:break-word; font-size: 18px;">
Esta tierra de la gente de la colina es el hogar de muchas montañas y tribus vírgenes. La diversidad cultural de este estado proviene del hecho de que la mayoría de los pueblos que actualmente residen en el estado emigraron de los países vecinos alrededor del año 1500 d.C. A la gente de aquí le encanta celebrar pequeñas y grandes ocasiones a través de diversos rituales que forman parte de su patrimonio. Les gusta tener cerca a su cultura cerca. La danza es uno de estos medios y la mayoría son realizadas en grupos grandes durante distintas ocasiones festivas.

</p>

     
  
          <p class="target" style="word-wrap:break-word; font-size: 18px;">
A continuación se presenta una  lista de algunas danzass folclóricas de Mizoram:  </p>
  
  

    <div class="container">
      
          
          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Cheraw</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
¡Golpea, golpea y aplaude! Estos son los ritmos que los bailarines de Cheraw producen al unísono mientras bailan. También conocida como la Danza del Bambú, Cheraw es bastante familiar a la danza folklórica Tinikling de Filipinas y a las danzas folclóricas del bambú, de Indonesia y de Tailandia. Es bastante sorprendente ver cómo estos países culturalmente diferentes pueden compartir tantas similitudes.
</p>       



     <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Cheraw es una danza folclórica extremadamente antigua que se remonta a casi el primer año de nuestra era. Hoy en día, se la baila en varias festividades. Tanto hombres como mujeres participan de esta manifestación tradicional. Mientras los artistas masculinos sostienen los bambúes y aplauden para generar ritmos, las bailarinas se mueven dentro y fuera de los bastones de bambú cruzados sostenidos horizontalmente. Estos movimientos son extremadamente elegantes y a veces se imitan a los pájaros, los árboles y a otros elementos de la naturaleza.
</p>

<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Instrumentos musicales tradicionales como tambores y gongs son utilizados para lograr la música adecuada para la actuación, además de los ritmos producidos por los golpes de los bastones de bambú. Los bailarines usan vestimenta colorida tradicional adornada especialmente para la ocasión. Los mizos (habitantes de  Mizoram) definitivamente saben cómo disfrutar y abrazar su cultura con entusiasmo.
</p>


<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
¿Sabías que este baile logró el récord mundial Guinness del mayor número de bailarines Cheraw que se presentaron al mismo tiempo en el 2010?

</p>   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Cheraw.jpg" alt="blog-image">
    </div>
        
      </div>
      
    
      <div class="container">
        <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Khuallam</h4>
      </div>
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
   
Hay una historia interesante detrás de este baile. Según el mito local, si uno desea obtener un lugar en el paraíso, debe obtener el título de Thangchhuah. Hay dos formas de ganar este título. La primera es demostrar un acto de valentía en una guerra o siendo un maestro cazador. La segunda, es siendo un bailarín destacado. Por lo tanto, muchos rituales y hazañas realizadas dentro de la segunda forma dieron lugar a la celebración del  Khuangchawi en Mizoram. Es costumbre, que las personas que participan de este evento inviten  a familiares de aldeas vecinas.
</p>
     
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
Hoy, la forma de danza Khuallam, también llamada danza de los invitados, es realizada con motivo de Khuangchawi. Los invitados también suelen participar del  Khuallam para demostrar su temple. Te puede interesar saber que este baile no va acompañado de ninguna canción. Se baila con los sonidos producidos por Darbu (gongs tradicionales de Mizoram). 
</p>


<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
La vestimenta tradicional llamada Puandum es usada por los artistas,la misma  está compuesta por rayas rojas, amarillas, verdes y negras. El efecto que produce el balanceo de la ropa colorida mientras los bailarines danzan, es una vista encantadora. 

</p>

<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
Puandum también cumple un papel importante en la cultura de Mizoram. Se supone que todas las chicas deben usarlo después de casarse. Este baile ha logrado captar un importante segmento de público. Los turistas hacen una pausa para presenciarlo  y quedan hipnotizados por la riqueza del patrimonio popular de los mizos.
</p>


      <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Khuallam.jpg" alt="blog-image">
    </div>
     

      </div>

    <div class="container">
      
          
          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Chailam</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

       
Chailam es un baile popular de Mizoram realizado durante el festival de Chapchar Kut, una festividad importante celebrada con pompa y fervor. Los bailarines masculinos y femeninos se colocan alternadamente en un círculo en el que las mujeres sostienen la cintura de los hombres y los hombres sostienen a las mujeres por los hombros. Los músicos que tocan los tambores  y el cuerno de Mithun se colocan en el centro. 
        </p> 

        <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Los bailarines combinan sus pasos con los ritmos de los tambores y de las letras cantadas por la persona que toca el corno. Todos cantan en coro demostrando su  alegría a través de la actuación. Se balancean de izquierda a derecha con sus hermosos atuendos tradicionales y en perfecta coordinación entre ellos y  la música. 
 </p>   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Chailam.jpg" alt="blog-image">
    </div>
        
      </div>

      

<div class="container">

          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Chawnglaizawn</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Es una danza popular importante, realizada por la comunidad Pawi de Mizoram, en dos ocasiones contrastantes. La primera es durante momentos alegres. Un  grupo de hombres y mujeres baila realizando una serie de movimientos de brazos. Sostienen chales coloridos (un tipo de estola gruesa) para llamar la atención al mover sus manos. Estos gestos son acompañados por un tambor, que es el único instrumento que se utiliza en este baile.

</p> 

       

  <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Las principales  fuentes de ingresos de esta tribu son las actividades agrícolas y pesqueras. Por lo tanto, este festival es muy importante para este pueblo. Los hombres y las mujeres jóvenes bailan con sus coloridos atuendos tradicionales con gran entusiasmo. Sus pasos son rápidos y se pone un especial énfasis en el movimiento de las muñecas y de las manos, así como en el  balanceo rítmico del cuerpo. La flauta, los platillos, los tambores, las pipas son algunos de los instrumentos musicales que acompañan la actuación con los ritmos apropiados para los enérgicos movimientos de este baile.
  </p> 

     <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">   
La segunda ocasión es triste y lo baila un esposo para llorar la muerte de su esposa. Lo baila durante mucho tiempo hasta cansarse. Más tarde, esta danza continúa siendo bailada por sus seres cercanos y queridos. De esta manera lo consuelan por su pérdida y muestran sus preocupaciones tomando su lugar en el baile. Seguramente es extraño, pero es una forma ritualista que tiene esta comunidad para llorar por un evento tan desafortunado.
</p>    

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Chawnglaizawn.jpg" alt="blog-image">
    </div>
  
  
  
  </div>
  
  
  
  <div class="container">
      
          
          <div>
          <h4 style="font-weight: 1000; margin-top: 50px;">Sarlamkai</h4>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

       
Es una antigua forma de baile de las comunidades Pawa y Mara que también es conocida como Danza del guerrero. Está basada en una antigua ceremonia, que celebra la victoria después de una guerra. Es otro de los bailes en el que no se cantan canciones, y los pasos se realizan al ritmo de tambores, platillos y gongs.         
    </p> 

        <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Realizado tanto por hombres como por mujeres, el baile involucra cinco movimientos principales que retratan las acciones de un héroe de guerra. El actor principal viste  como un guerrero mientras que los otros bailarines se adornan con coloridos atuendos tradicionales. Hoy, este baile ocupa un lugar especial en las culturas de estas comunidades y los bailarines se presentan con gran entusiasmo para mostrar su participación en esta ceremonia. 
 
 </p>   

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Sarlamkai.png" alt="blog-image">
    </div>
      
    
      </div>
        

  </div>


 <%- include footer-blogs.ejs %>


<!--Parsing HTML JS-->
<script>
$(".target").each(function(){
    let text = ( $(this).text());

    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<!--Boot Strap-->  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>