<html>
  <head>
    <title>Uttar Pradesh Folk Danzas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>

      <meta charset="UTF-8">
  <!--Title of the Website-->
  <!--Meta tag that tells browser to not translate page to english (Preferably chrome)-->
  <meta name="google" content="notranslate" />
  <!--Meta tags for SEO-->
  <meta name="robots" content="index, follow" />
   <meta name="keywords" content="Cine India, Canciones de Bollywood, Baile de Bollywood, Películas hindú, Películas de la india, Cultura India, Indian culture, Danzas de la India, Bailes de la India, Bollywood en español, Cine de Bollywood" />
   <meta name="title" content="Un portal sobre la cultura India " />
   <meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. " />


  <!------------------Social Media Icons------------------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <!--Meta tag for Responsiveness-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--Meta tag for google site verification-->
  <meta name="google-site-verification" content="86RNMqD2_RNqFP-WmWf9pmzSbjEz_RQMLAnS8yhKQpg" />
  
  

  <!-------------------Meta Tags for OG-->
<!-- HTML Meta Tags -->
<meta name="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Baila Bollywood-A Spanish Language Portal on Indian Dance Songs">
<meta itemprop="description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante.">
<meta itemprop="image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Primary Meta Tags -->


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.bailabollywood.com/">
<meta property="og:title" content="Un portal sobre la cultura India ">
<meta property="og:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="og:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.bailabollywood.com/">
<meta property="twitter:title" content="Un portal sobre la cultura India ">
<meta property="twitter:description" content="Todo sobre la cultura milenaria de la India, danzas y bailes, música hindú, el cine de Bollywood, canciones de Bollywood, la sociedad y las tradiciones, arte de la India,  y las relaciones bilaterales entre la India y el mundo hispanohablante. ">
<meta property="twitter:image" content="https://pbs.twimg.com/media/EQlEz7pW4AAKwC4.jpg">

  <!--Title bar Icon-->
  <link rel="icon" href="/images/Spanish-bolo-natraj-transparent.png" />
  <!---------------Bootstrap Stylesheet---------------------------------------->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-------------------Custom css files------------------------------->
  <!---------------------------Google Fonts----------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet" />

  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <!-- Swiper css initialized-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/swiper.min.css" />
  <!-- Swiper javascript initialized-->
  <script src="scripts/swiper.min.js"></script>
  <!-------------Css file of index.html-------------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

  <!---------------Css file for responsiveness------------------>
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-breakpoints.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/states-style.css">

  
  </head>
<body >

 <!------------------------------------Navigation Bar Section-One------------------------------------------>

  <nav id="nav-header" class="navbar navbar-expand-lg navbar-light sticky-top  ">
    <a class="navbar-brand p-0 m-0" href="/"><img src="/images/Spanish-bolo-natraj-transparent.png" class="logo-navbar"
        alt="Logo Of Baila Bollywood"></a>
    <button class="navbar-toggler mr-3  " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class=" navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-pills ">
            <li class="nav-item m-xl-2 active">
              <a class="nav-link text-center font-weight-bold " href="/">Inicio </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#about">
                Quiénes Somos
                </a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#blogs">Nuestro Blog</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#pop-categ">Lo más Popular</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/#found-note">Nuestro Fundador </a>
            </li>
            
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/danzas-folkloricas-de-India">Danzas folclóricas</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/equipo">Equipo</a>
            </li>
            <li class="nav-item m-xl-2">
              <a class="nav-link text-center font-weight-bold " href="/blogs">Blogs</a>
            </li>
          </ul>
      <form class="form-inline  log-reg-btn ml-xl-5 ml-lg-5  justify-content-center">
        <% if(!currentUser) {%>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3  login-btn " href="/login" target="_top"><i
            class="fa fa-sign-in"></i> Iniciar Sesión </a>
        <a class="btn mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/register" target="_top"><i
            class="fa fa-user-plus"></i> Regístrate</a>
        <% }else{ %>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 login-btn " href="/logout" target="_top"><i
            class="fa fa-sign-in"></i> Cerrar Sesión</a>
        <a class="btn  mr-xl-3 mr-lg-3 mr-md-3 mr-sm-3 register-btn " href="/dashboard" target="_top"><i
            class="fa fa-heart"></i> My Tablero</a>
        <% } %>
      </form>
    </div>
  </nav>

  <div class="container" >
  <!--  Blog Title-->
  <div class="text-center" style="margin-top:15px ;margin-bottom:15px">
    <h1 class="text-center display-4" style="color:black; font-weight: bold; padding-top:15px; padding-bottom:15px; font-family: 'Ananda Namaste Regular'" >
 Danzas populares de Uttar Pradesh </h1>
  
    
  </div>
    <!---- Blog Image-->
 
   
  
    <div class="container" style="margin-top:15px; margin-bottom:15px" >
    <!---  Blog Content -->
     <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/uttar-pradesh.jpg" alt="blog-image">
    </div>
   
      <p class="target" style="word-wrap:break-word; font-size: 18px;">
Cada año,  Uttar Pradesh lidera el  puesto del estado más visitado por turistas en toda India. Situado en la región norte del país, es geográficamente más grande que el Reino Unido, y alberga una de las Siete maravillas del mundo moderno: el Taj Mahal, lo que lo convierte en el destino predilecto de cualquier viajero. Otra razón de peso, por la cual Uttar Pradesh es un estado altamente turístico, es el fantástico festival del Kumbha Mela, peregrinación hinduista a la que asisten personas de todo el mundo que buscan  sumergirse en el agua sagrada del venerado río Ganges. Uttar Pradesh, se enorgullece de ser el sitio de orígen de las dos más grandes epopeyas de la historia india, el Ramayana y el Mahabharata. Además de esto, el legado cultural y la diversidad de canciones y bailes populares que este estado ofrece, es vasta, y sin lugar a dudas, excepcional.

      <p class="target" style="word-wrap:break-word; font-size: 18px;">
A continuación te presentamos los cuatro tipos de danza folclórica más populares de Uttar Pradesh, y que no puedes perderte si algún día vienes de visita.

    </p>

    </div>
    
    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Charkula</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

¿Cómo describirías la imagen de una mujer con velo, bailando mientras lleva una pirámide circular de madera con 108 lámparas de aceite sobre su cabeza? Nada menos que magnífico, ¿verdad? Bueno, se trata de un estilo de danza que se puede apreciar durante el  monzón (temporada de lluvias) y otras ocasiones festivas del estado. Podría sorprenderte aún más, saber que esta pirámide circular pesa aproximadamente 50 kilos que obviamente, las lámparas están encendidas, y que a pesar de todo, los pasos, incluyendo las piruetas, el deslizamiento y el movimiento de las manos, son realizados con la máxima gracia.

</p>
   <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Una sola bailarina, se mueve al ritmo del  Rasiya, canciones populares que celebran el amor eterno entre las deidades Radha y Krishna. Las bailarinas exhiben sus hábiles movimientos usando una falda hasta el tobillo, y un velo con el que cubren sus rostros. Este atuendo colorido se embellece aún más con las joyas tradicionales. El clímax de este baile ofrece un momento especial a sus espectadores, cuando todos los músicos y cantantes se unen a los bailarines en el escenario brindando así, una experiencia emocionante en el momento final. 

</p>


  

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Charkula.jpg" alt="blog-image">
    </div>
        
      </div>
      
    
      <div class="container">
        <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Swang</h2>
      </div>
           <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
   
Es una forma de danza-teatro popular, más orientada al diálogo que al movimiento. Se realiza al aire libre, utilizando un guión teatral combinado con música; la mímica y la teatralidad se integran con movimientos de baile. Es justamente la calidad de esta combinación que la convierte en un espectáculo imperdible para cualquier turista. Durante la presentación un grupo de 10 a 12 personas van presentando historias de carácter folclórico o religioso.Pueden abarcar desde mitología a  problemas sociales actuales de salud, alfabetización, empoderamiento de las mujeres, u otros. 
     </p>
<p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">	 
	Nada de este espectáculo es igual a lo que hayas visto antes. Esta representación no cuenta con escenografía, ni telones de fondo, no se utilizan micrófonos ni altavoces. La mayor parte de la dramaturgia es realizada de manera colectiva por los artistas, horas antes del espectáculo real. Un requisito fundamental para el  Swang es la capacidad de improvisación y la utilización constante de juegos de palabras, juegos de palabras y metáforas para mantener al público enganchado. La presentación completa podría durar entre 4 y 5 horas. Así que es importante que se tome su tiempo si quiere ver uno de estas funciones. 
</p>


      <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Swang.jpg" alt="blog-image">
    </div>
     

      </div>

    <div class="container">
      
          
          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Raas Leela</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">

Esta danza inmortaliza el pasaje mitológico del dios Krishna y su baile con Radha y sus amigas (gopis). También se conoce como "La Danza del Amor Divino". A través de la trama se narra la historia del Señor Krishna como se describe en algunas escrituras hindúes. El tema es muy  popular y se ha utilizado en muchos otras danzas clásicas de india. Los bailarines generalmente usan un dhoti para cubrir sus cuerpos, y se adornan con joyas pesadas, las bailarinas usan ghagra-choli, y una dupatta para cubrirse la cabeza, su aspecto se embellece aún más con hermosas joyas tradicionales y maquillaje muy elaborado. La gracia y las expresiones de los bailarines te cautivarán,y el idioma no será una barrera para comprender las emociones de los personajes que se interpretan, ya que los gestos de los bailarines serán suficientes para entender lo que transmite este baile. 

        </p> 

  

    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Raas-Leela.jpg" alt="blog-image">
    </div>
        
      </div>

      

<div class="container">

          <div>
          <h2 style="font-weight: 1000; margin-top: 50px;">Naqal</h2>
          </div>
          
       <p class="target mt-2" style="word-wrap:break-word; font-size: 18px;">
Es interpretada por dos hombres que entre bromas y juegos de palabras, hacen comentarios satíricos sobre política y sociedad, estableciendo una conexión inmediata con la audiencia a través de la elección de temas. El vestuario incluye una prenda con la que envuelven la parte inferior del cuerpo, una kurta corta para la parte superior y una gorra o turbante como el arnés. Uno de los artistas usa una correa de cuero para simular un arma y enfatizar los golpes. Si te gusta el humor y la danza, esta es la fusión perfecta para presenciar en el estado de Uttar Pradesh.    </p> 

      
    <div class="text-center" style="margin-top:40px; margin-bottom:40px">
    <img class="img-responsive" style="max-width:100%; height:auto; object-fit: contain;" src="/images/Naqal.jpg" alt="blog-image">
    </div>
        

		


		
      </div>
      
        

  </div>


 <%- include footer-blogs.ejs %>


<!--Parsing HTML JS-->
<script>
$(".target").each(function(){
    let text = ( $(this).text());

    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<!--Boot Strap-->  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>